.icon {
  width: 1em;
}

.menu-icon {
  width: 1.6em;
}

@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";

.nms-active {
  color: $cyan !important;
}

.nms-active:focus {
  color: $cyan !important;
}

.nullhire-logo {
  height: 2em;
}

.nms-notification {
  color: white;
}

.search-input {
  max-width: 25em;
}

.search-icon {
  height: 1em;
}
 