<div class="d-flex align-items-center justify-content-between row nh-alert alert" 
    [ngClass]="{'alert-success' : talentTermRequest?.status === 'ACCEPTED', 'alert-warning' : talentTermRequest?.status === 'COUNTER_OFFER_COMPANY' || talentTermRequest?.status === 'COUNTER_OFFER_TALENT', 'alert-danger' : talentTermRequest?.status === 'REJECTED'}">
  <div class="d-flex align-items-center col-12 col-md-12 flex-column flex-lg-row">
    <bi *ngIf="talentTermRequest?.status === 'ACCEPTED' && !talentTermRequest?.counterOffer" name="check-all" class="icon lead nms-talent-term-icon text-primary"></bi>
    <bi *ngIf="talentTermRequest?.status === 'ACCEPTED' && talentTermRequest?.counterOffer" name="check" class="icon lead nms-talent-term-icon text-primary"></bi>
    <bi *ngIf="talentTermRequest?.status === 'REJECTED'" name="x" class="icon nh-x lead nms-talent-term-icon"></bi>

    <div class="d-flex align-items-center justify-content-between mx-2 mb-2">
      <bi *ngIf="user?.role === 'COMPANY' && (talentTermRequest?.status === 'COUNTER_OFFER_COMPANY' || talentTermRequest?.status === 'COUNTER_OFFER_TALENT')" class="bg-light rounded-circle text-secondary avatar" name="person-circle"></bi>
      <div *ngIf="user?.role === 'TALENT' && (talentTermRequest?.status === 'COUNTER_OFFER_COMPANY' || talentTermRequest?.status === 'COUNTER_OFFER_TALENT')">
        <img *ngIf="company?.profileImage" [src]="getImageUrl(company.profileImage)" class="bg-light rounded-circle avatar" style="width: 2em" />
        <bi *ngIf="!company?.profileImage" class="bg-light rounded-circle text-secondary avatar" name="person-circle"></bi>
      </div>
      
      <bi *ngIf="talentTermRequest?.status === 'COUNTER_OFFER_COMPANY'" [name]="user?.role === 'COMPANY' ? 'arrow-left-short' : 'arrow-right-short'" class="icon lead nms-talent-term-icon text-primary"></bi>
      <bi *ngIf="talentTermRequest?.status === 'COUNTER_OFFER_TALENT'" [name]="user?.role === 'COMPANY' ? 'arrow-right-short' : 'arrow-left-short'" class="icon lead nms-talent-term-icon text-primary"></bi>
      
      <div *ngIf="user?.role === 'COMPANY' && (talentTermRequest?.status === 'COUNTER_OFFER_COMPANY' || talentTermRequest?.status === 'COUNTER_OFFER_TALENT')">
        <img *ngIf="company?.profileImage" [src]="getImageUrl(company.profileImage)" class="bg-light rounded-circle avatar" style="width: 2em" />
        <bi *ngIf="!company?.profileImage" class="bg-light rounded-circle text-secondary avatar" name="person-circle"></bi>
      </div>
      <bi *ngIf="user?.role === 'TALENT' && (talentTermRequest?.status === 'COUNTER_OFFER_COMPANY' || talentTermRequest?.status === 'COUNTER_OFFER_TALENT')" class="bg-light rounded-circle text-secondary avatar" name="person-circle"></bi>
    </div>
    <span class="text-secondary mb-2">{{talentTermRequest?.name}} <strong class="offered-value">{{!talentTermRequest?.counterOffer && talentTermRequest?.termType !== termType.Boolean ? talentTermRequest?.value : talentTermRequest?.counterOffer}}</strong> {{getOfferDescription()}}</span>     
  </div> 
  <div class="col-12 col-md-12 d-flex justify-content-around flex-column flex-lg-row">
    <a *ngIf="talentTermRequest?.status === 'COUNTER_OFFER_COMPANY' && user?.role === 'COMPANY'" (click)="openEditCounterOfferDialog(editCounterOfferDialog, talentTermRequest)" class="btn btn-primary my-1">Edit sent counter offer</a>
    <a *ngIf="talentTermRequest?.status === 'COUNTER_OFFER_TALENT' && user?.role === 'COMPANY'" (click)="openEditCounterOfferDialog(sendCounterOfferDialog, talentTermRequest)" class="btn btn-primary my-1">Send counter offer</a>
    <a *ngIf="talentTermRequest?.status === 'COUNTER_OFFER_COMPANY' && user?.role === 'TALENT'" (click)="openEditCounterOfferDialog(sendCounterOfferDialog, talentTermRequest)" class="btn btn-primary my-1">Send counter offer</a>
    <a *ngIf="talentTermRequest?.status === 'COUNTER_OFFER_TALENT' && user?.role === 'TALENT'" (click)="openEditCounterOfferDialog(editCounterOfferDialog, talentTermRequest)" class="btn btn-primary my-1">Edit sent counter offer</a>
    <a *ngIf="talentTermRequest && talentTermRequest.status === 'COUNTER_OFFER_COMPANY' && user?.role === 'TALENT'" (click)="acceptCompanyCounterTerm(talentTermRequest.id)" class="btn btn-primary my-1">Accept</a>
    <a *ngIf="talentTermRequest && talentTermRequest.status === 'COUNTER_OFFER_TALENT' && user?.role === 'COMPANY'" (click)="acceptTalentCounterTerm(talentTermRequest.id)" class="btn btn-primary my-1">Accept</a>
  </div>
</div>

<ng-template #editCounterOfferDialog let-modal>
  <form [formGroup]="counterOfferForm" (ngSubmit)="editCounterOffer()" novalidate>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Edit sent counter offer</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="form-group">
        <label for="newValue">Set new counter offer for {{selectedTalentTermRequest?.name}}</label>
        <input type="text" 
                  class="form-control border-top-0 border-left-0 border-right-0 shadow-none rounded-0" 
                  formControlName="newValue" 
                  id="newValue" 
                  placeholder="Counter offer" 
                  [class]="(newValue?.invalid && (newValue?.dirty || newValue?.touched)) ? 'is-invalid' : ''" />
        <div *ngIf="newValue?.errors?.['required']" class="invalid-feedback">
          Please enter counter offer value.
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button class="btn btn-primary rounded-pill w-100 mt-3" type="submit">Save</button>
    </div>
  </form>
</ng-template>

<ng-template #sendCounterOfferDialog let-modal>
  <form [formGroup]="counterOfferForm" (ngSubmit)="sendCounterOffer()" novalidate>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Send counter offer</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="form-group">
        <label for="newValue">Send counter offer for {{selectedTalentTermRequest?.name}}</label>
        <input type="text" 
                  class="form-control border-top-0 border-left-0 border-right-0 shadow-none rounded-0" 
                  formControlName="newValue" 
                  id="newValue" 
                  placeholder="Counter offer" 
                  [class]="(newValue?.invalid && (newValue?.dirty || newValue?.touched)) ? 'is-invalid' : ''" />
        <div *ngIf="newValue?.errors?.['required']" class="invalid-feedback">
          Please enter counter offer value.
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button class="btn btn-primary rounded-pill w-100 mt-3" type="submit">Send</button>
    </div>
  </form>
</ng-template>