.nms-talent-term-icon {
  height: 2em;
}

.avatar {
  height: 3em;
}

.offered-value {
  color: black;
}

.nh-alert {
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
}

.nh-x {
  color: red;
}