.avatar {
  width: 2em;
}

.arrow-down {
  width: 2em;
}

.clickable:hover {
  cursor: pointer;
}

.text-locations {
  font-size: x-small;
}

.nh-transparent {
  color: transparent;
}

.nms-icon-small {
  width: 1.3em;
}