<div (mouseleave)="isCollapsed = true">
  <div class="bg-white border rounded p-2 d-flex align-items-center justify-content-between clickable" (click)="collapse.toggle()" [attr.aria-expanded]="!isCollapsed">
    <div class="d-flex align-items-center">
      <bi name="person-circle" class="avatar text-secondary"></bi>
      <div class="ml-3">
        <div *ngIf="locations" class="text-locations">Available in: {{locations}}</div>
        <div>
          <span class="badge badge-secondary">{{skills[0]}}</span>
          <span>{{skills.length > 1 ? " and more..." : ""}}</span>
        </div>
      </div>
    </div>
    <bi name="chevron-compact-down" class="arrow-down text-primary"></bi>
  </div>
  <div class="bg-white border rounded p-2" #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsed">
    <div *ngIf="skills.length">
      Skills
      <div class="mb-3">
        <div *ngFor="let skill of skills">
          <small>&middot; {{skill}}</small>
        </div>
      </div>
      <hr>
    </div>
    <div *ngIf="positions.length">
      Positions
      <div class="mb-3">
        <div *ngFor="let position of positions">
          <small>&middot; {{position}}</small>
        </div>
      </div>
      <hr>
    </div>
    <div *ngIf="talent.availableLocations?.length">
      Avaliable locations
      <div>
        <div *ngFor="let location of talent.availableLocations">
          <small>&middot; {{location.country}}</small>
        </div>
      </div>
      <hr>
    </div>
    <div class="d-flex align-items-center">
      <button class="btn btn-sm btn-outline-primary rounded-pill d-flex align-items-center small" routerLink="/register">
        <span class="small">Join now</span>
      </button>
      <small class="ml-1">to see more details.</small>
    </div>
  </div>
</div>
