<div class="d-flex flex-column chat-window bg-white border border-gray rounded p-2">
  <div class="d-flex border-bottom border-gray pb-2">
    <button type="button" class="btn btn-outline-primary mr-3 d-md-none d-block" (click)="onOpenChats()">
      <bi name="arrow-left" class="icon"></bi>
    </button>
    <span *ngIf="to">{{to}}</span>
    <div *ngIf="!to" class="d-flex justify-content-center mx-auto text-secondary">Select a user to chat with.</div>
  </div>
  <div class="h-100 chat-view" #chatViewContainer [scrollTop]="chatViewContainer.scrollHeight" infinite-scroll (scrolledUp)="onScrollUp()" [scrollWindow]="false">
    <nms-messages-chat-view></nms-messages-chat-view>
  </div>
  <nms-messages-chat-input *ngIf="to" class="justify-self-end"></nms-messages-chat-input>
</div>
