<form [formGroup]="editContactsForm" (ngSubmit)="edit(contactsFormArrayOld.value, contactsFormArrayNew.value)" novalidate>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Edit Contacts</h4>
    <button type="button" class="close" aria-label="Close" (click)="close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div formArrayName="contactsFormArrayOld">
      <div [formGroupName]="i" *ngFor="let contact of contactsFormArrayOld.controls; let i=index">
        <div class="form-group">
          <div class="d-flex align-items-end">
            <div class="w-100">
              <small *ngIf="contactsFormArrayOld.controls[i].get('type')?.value === 'EMAIL'" for="description" class="text-secondary">Email</small>
              <small *ngIf="contactsFormArrayOld.controls[i].get('type')?.value === 'TELEPHONE'" for="description" class="text-secondary">Telephone</small>
              <small *ngIf="contactsFormArrayOld.controls[i].get('type')?.value === 'URL'" for="description" class="text-secondary">Url</small>
              <input type="text" 
                    class="form-control shadow-none rounded-0" 
                    formControlName="value" 
                    [id]="'value' + i" 
                    placeholder="Value" 
                    [class]="(contactsFormArrayOld.controls[i].get('value')?.invalid && (contactsFormArrayOld.controls[i].get('value')?.dirty || contactsFormArrayOld.controls[i].get('value')?.touched)) ? 'is-invalid' : ''" />
            </div>
            <a class="ml-2 text-secondary text-decoration-none nms-cursor" (click)="removeOldContact(i)">
              <bi name="trash" class="nms-remove-icon"></bi>
            </a>
            <div *ngIf="contactsFormArrayOld.controls[i].get('value')?.errors?.['required']" class="invalid-feedback">
              {{contactsFormArrayOld.controls[i].get('type')?.value === 'EMAIL' ? 'Please enter email.' : ''}}
              {{contactsFormArrayOld.controls[i].get('type')?.value === 'TELEPHONE' ? 'Please enter telephone number.' : ''}}
              {{contactsFormArrayOld.controls[i].get('type')?.value === 'URL' ? 'Please enter link.' : ''}}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div formArrayName="contactsFormArrayNew">
      <div [formGroupName]="i" *ngFor="let contact of contactsFormArrayNew.controls; let i=index">
        <div class="form mb-2 d-flex align-items-start">
          <div class="col-5">
            <small class="text-secondary">Type</small>
            <select formControlName="type" 
                    class="form-control shadow-none rounded-0"
                    aria-label="Select term type" 
                    [class]="(contactsFormArrayNew.controls[i].get('type')?.invalid && (contactsFormArrayNew.controls[i].get('type')?.dirty || contactsFormArrayNew.controls[i].get('type')?.touched)) ? 'is-invalid' : ''">
              <option value="" selected disabled>Select contact</option>
              <option *ngFor="let contactType of contactTypes" [value]="contactType.value">{{contactType.name}}</option>
            </select>
          </div>
          <div class="col-5">
            <small class="text-secondary">Value</small>
            <input type="text" 
                   formControlName="value" 
                   class="form-control shadow-none rounded-0" 
                   [class]="(contactsFormArrayNew.controls[i].get('value')?.invalid && (contactsFormArrayNew.controls[i].get('value')?.dirty || contactsFormArrayNew.controls[i].get('value')?.touched)) ? 'is-invalid' : ''"
                   placeholder="Value" />
            <div *ngIf="contactsFormArrayNew.controls[i].get('value')?.errors?.['required']" class="invalid-feedback">
              {{contactsFormArrayNew.controls[i].get('type')?.value === 'EMAIL' ? 'Please enter email.' : ''}}
              {{contactsFormArrayNew.controls[i].get('type')?.value === 'TELEPHONE' ? 'Please enter telephone number.' : ''}}
              {{contactsFormArrayNew.controls[i].get('type')?.value === 'URL' ? 'Please enter link.' : ''}}
            </div>
          </div>
          <div>
            <a class="ml-2 text-secondary text-decoration-none nms-cursor" (click)="removeNewContact(i)">
              <bi name="trash" class="nms-remove-icon"></bi>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="d-flex justify-content-center text-end mb-5">
      <div class="btn btn-outline-primary btn-block rounded-pill shadow-none w-50" (click)="addNewContactForm()">Add contact</div>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary rounded-pill w-100 mt-3" [disabled]="editContactsForm.invalid" type="submit">Save</button>
  </div>
</form>