<form [formGroup]="companyDetailsForm" (ngSubmit)="onSubmit()">
  Fill in additional company details.
  <hr>
  <div class="form-group">
    <label class="text-secondary" for="name"><small>Company name</small></label>
    <input class="form-control form-control-sm" id="name" type="text" formControlName="name"
      [class]="(name?.invalid && (name?.dirty || name?.touched || submitted)) ? 'is-invalid' : ''">
    <div class="invalid-feedback">
      Please enter your company name.
    </div>
  </div>
  <div class="form-group">
    <label class="text-secondary" for="description"><small>Description</small></label>
    <input class="form-control form-control-sm" id="description" type="text" formControlName="description"
      [class]="(description?.invalid && (description?.dirty || description?.touched || submitted)) ? 'is-invalid' : ''">
    <div class="invalid-feedback">
      Please add a description.
    </div>
  </div>
  <div formGroupName="location">
    <div class="form-group">
      <label class="text-secondary" for="country"><small>Country</small></label>
      <select class="form-control form-control-sm" id="company-country" type="text" formControlName="countryCode"
        [class]="(countryCode?.invalid && (countryCode?.dirty || countryCode?.touched || submitted)) ? 'is-invalid' : ''">
        <option *ngFor="let country of countries" [value]="country.code">{{country.name}}</option>
      </select>
      <div class="invalid-feedback">
        Please select a country.
      </div>
    </div>
    <div class="form-group">
      <label class="text-secondary" for="city"><small>City</small></label>
      <input class="form-control form-control-sm" id="company-city" type="text" formControlName="city"
        [class]="(city?.invalid && (city?.dirty || city?.touched || submitted)) ? 'is-invalid' : ''">
      <div class="invalid-feedback">
        Please enter a city.
      </div>
    </div>
    <div class="form-group">
      <label class="text-secondary" for="address"><small>Address</small></label>
      <input class="form-control form-control-sm" id="company-address" type="text" formControlName="address"
        [class]="(address?.invalid && (address?.dirty || address?.touched || submitted)) ? 'is-invalid' : ''">
      <div class="invalid-feedback">
        Please enter an address.
      </div>
    </div>
  </div>
  <button class="btn btn-primary rounded-pill w-100 mt-3" type="submit">Finish setup</button>
</form>