<div>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Edit details</h4>
    <button type="button" class="close" aria-label="Close" (click)="close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <form *ngIf="nameForm" [formGroup]="nameForm" novalidate (submit)="onUpdateName()">
  <div class="modal-body">
      <div class="form-group">
        <small for="firstName" class="text-secondary">First name</small>
        <input type="text" 
                  class="form-control shadow-none rounded-0" 
                  formControlName="firstName" 
                  id="firstName" 
                  placeholder="Firstname" 
                  [class]="(firstName?.invalid && (firstName?.dirty || firstName?.touched)) ? 'is-invalid' : ''" />
        <div *ngIf="firstName?.errors?.['required']" class="invalid-feedback">
          Please enter first name.
        </div>
      </div>
      <div class="form-group">
        <small for="lastName" class="text-secondary">Last name</small>
        <input type="text" 
                  class="form-control shadow-none rounded-0" 
                  formControlName="lastName" 
                  id="lastName" 
                  placeholder="Lastname" 
                  [class]="(lastName?.invalid && (lastName?.dirty || lastName?.touched)) ? 'is-invalid' : ''" />
        <div *ngIf="lastName?.errors?.['required']" class="invalid-feedback">
          Please enter last name.
        </div>
      </div>
      <div class="row mb-2">
        <div class="col-auto">
          <small for="lastName" class="text-secondary">Years of experience</small>
          <input id="experience-years" class="form-control" type="number" min="0" max="99" formControlName="experienceYears">
        </div>
      </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary rounded-pill w-100 mt-3" [disabled]="nameForm.invalid" type="submit">Save</button>
  </div>
  </form>
</div>
