<nav ngbNav #nav="ngbNav" class="navbar navbar-light bg-light d-flex justify-content-center">
    <a class="navbar-brand" href="#">anonymous</a>
    <form class="mr-2 col-lg-5 col-md-6 col-sm-8">
        <div class="input-group">
            <div class="d-none d-sm-block input-group-prepend">
                <div class="input-group-text">Companies</div>
            </div>
            <input type="text" class="form-control" placeholder="Search">
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button"><bi name="search" class="icon"></bi></button>
            </div>
        </div>
    </form>
    <div class="d-none d-md-block">
        <button class="btn btn-outline-primary rounded-pill mr-2 my-2 my-sm-0" type="submit">Join now</button>
        <button class="btn btn-primary my-2 my-sm-0 rounded-pill" type="submit">Sign in</button>
    </div>
</nav>
<div class="d-md-none fixed-bottom bg-light d-flex justify-content-center">
    <button class="btn btn-outline-primary rounded-pill mr-2 my-2" type="submit">Join now</button>
    <button class="btn btn-primary rounded-pill my-2 " type="submit">Sign in</button>
</div>
