<nav *ngIf="router.url !== '/activation'" ngbNav #nav="ngbNav" class="navbar fixed-top navbar-light bg-light d-flex justify-content-center">
    <div class="col-lg-4 col-md-3 d-none d-md-block">
        <a class="navbar-brand float-md-right d-flex justify-content-center" href="#">
            <img src="../../../assets/icons/nullhire.svg" alt="" class="nullhire-logo">
        </a>
    </div>
    <div class="col-lg-4 col-md-6 search-input">
        <div class="input-group">
            <span class="input-group-append">
                <div class="input-group-text bg-white border-right-0 border-primary rounded-left"><bi name="search" class="search-icon"></bi></div>
            </span>
            <input id="typeahead-template"
                type="text"
                class="form-control py-2 border-left-0 border border-primary"
                [(ngModel)]="companyStartsWith"
                [ngbTypeahead]="search"
                [resultTemplate]="rt"
                [inputFormatter]="formatter" 
                type="text" 
                placeholder="Search companies">
            
        </div>
    </div>
    <div class="d-none d-md-block col-lg-4 col-md-3">
        <button class="btn btn-primary my-2 my-sm-0 mr-2 rounded-pill" type="button" routerLink="/login">Sign in</button>
        <button *ngIf="isAuthenticated" class="btn btn-secondary rounded-pill my-2 my-sm-0" type="button" (click)="onLogout()">Log out</button>
    </div>
</nav>
<div class="d-md-none fixed-bottom bg-light d-flex justify-content-around">
    <button class="btn btn-outline-primary rounded-pill mr-2 my-2" type="button" routerLink="/register">Join now</button>
    <button class="btn btn-primary rounded-pill my-2 mr-2" type="button" routerLink="/login">Sign in</button>
    <button *ngIf="isAuthenticated" class="btn btn-secondary rounded-pill my-2" type="button" (click)="onLogout()">Log out</button>
</div>

<ng-template #rt let-r="result" let-t="term">
    <div (click)="openCompanyProfile(r.id)">
        <img *ngIf="r.profileImage" [src]="getImageUrl(r.profileImage)"
        class="mr-2 rounded-circle" 
        style="width: 2em" />
        <bi *ngIf="!r.profileImage" class="bg-light rounded-circle text-secondary mr-2 d-inline-block" style="width: 2em" name="person-circle"></bi>
	    <ngb-highlight [result]="r.name" [term]="t"></ngb-highlight>
    </div>
</ng-template>
