<div class="d-flex flex-column align-items-center mt-5">
  <div class="bg-white border p-4 rounded form-width">
    <h3 class="d-flex justify-content-center mb-5">Forgot password</h3>
    <h5 *ngIf="mailSent" class="d-flex justify-content-center mb-5">Please check your email</h5>
    <form *ngIf="!showSpinner && !mailSent" [formGroup]="emailForm" (ngSubmit)="onSubmit()" novalidate>
      <div class="form-group">
        <input class="form-control form-control-sm" id="username" type="text" formControlName="username" 
          placeholder="Enter your email address"
          [class]="(username?.invalid && (username?.dirty || username?.touched || submitted)) ? 'is-invalid' : ''">
        <div *ngIf="username?.errors?.['required']" class="invalid-feedback">
          Please enter your email.
        </div>
      </div>
      <button class="btn btn-primary rounded-pill mt-3 w-100" type="submit" [disabled]="emailForm.invalid">Continue</button>
      <hr>
    </form>
    <spinner *ngIf="showSpinner"></spinner>
  </div>
</div>
