@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";

.icon {
  width: 1em;
}

.nms-pencil-square {
  height: 1.5em;
}

.nms-cursor:hover {
  cursor: pointer;
}

.nms-pencil-square:hover {
  color: $cyan;
}

.nms-small-icon {
  width: 1em;
  color: $cyan;
}

.nms-plus {
  height: 2em;
}

.nms-plus:hover {
  color: $cyan;
}

.nms-icon-trash {
  height: 1.5em;
}

.nms-icon-trash:hover {
  color: red;
}

.set-as-available {
  background-color: white;
}

.nms-alert {
  font-size: 0.8em;
}

