@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";

.icon {
  width: 1em;
}

.nms-pencil-square {
  height: 2em;
}

.nms-cursor:hover {
  cursor: pointer;
}

.nms-pencil-square:hover {
  color: $cyan;
}

.nms-small-icon {
  width: 1em;
  color: $cyan;
}
