<div class="container mb-5">
  <div class="row">
    <div class="col-lg-8 col-md-7">
      <div class="my-2">
        <div class="bg-white border rounded">
          <div class="p-3">Notifications</div>
          <hr class="mt-0"/>
          <div class="p-3" *ngFor="let notification of notifications">
            <div class="d-flex">
              <div class="d-flex flex-column">
                <div class="m-0 d-flex">
                  <bi *ngIf="notification.type === 'REQUEST'" name="person-bounding-box" class="icon lead mr-3"></bi>{{notification.message}}
                </div>
                <div class="font-weight-light text-secondary mt-1 text-date">
                  {{notification.createdOn | date: 'dd/MM/YYYY HH:mm'}}
                </div>
              </div>
            </div>
            <hr class="mb-0"/>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

