<div>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Edit skills</h4>
    <button type="button" class="close" aria-label="Close" (click)="close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="d-flex flex-wrap">
      <div *ngFor="let talentSkill of talentSkills; let i=index" class="border pl-2 pr-2 pb-1 pt-1 mr-2 mb-2 rounded-pill">
          <span>{{talentSkill.name}}</span>
          <button type="button" (click)="remove(i)" class="close ml-2" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
      </div>
    </div>
    <div class="d-flex justify-content-between align-items-center my-1">
      <typeahead [data]="searchableSkills" placeholder="Add skill" (selectItem)="add($event)"></typeahead>
    </div>
  </div>
</div>