@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";

.form-width {
  width: 400px;
}

.nav-link.active {
  color: $cyan;
}

.nav-link.inactive {
  color: $gray-500;
}

a.nav-link:hover {
  cursor: pointer;
}