<div class="d-flex flex-column align-items-center mt-5">
  <div class="bg-light border border-light p-4 rounded form-width shadow-sm">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" novalidate>
      <div class="form-group">
        <label class="text-secondary" for="username"><small>Email address</small></label>
        <input class="form-control form-control-sm" id="username" type="text" formControlName="username" 
          [class]="(username?.invalid && (username?.dirty || username?.touched || submitted)) ? 'is-invalid' : ''">
        <div *ngIf="username?.errors?.['required']" class="invalid-feedback">
          Please enter your email.
        </div>
      </div>
      <div class="form-group">
        <label class="text-secondary" for="password"><small>Password</small></label>
        <input class="form-control form-control-sm" id="password" type="password" formControlName="password" 
          [class]="(password?.invalid && (password?.dirty || password?.touched || submitted)) ? 'is-invalid' : ''">
        <div *ngIf="password?.errors?.['required']" class="invalid-feedback">
          Please enter your password.
        </div>
      </div>
      <button class="btn btn-primary rounded-pill mt-3 w-100" type="submit">Sign in</button>
      <hr>
      <div class="d-flex flex-column align-items-center">
        <span class="mt-2 mr-2">Still not registered?</span>
        <button class="btn btn-outline-primary rounded-pill w-100 my-2" type="button" routerLink="/register">Join now</button>
      </div>
    </form>
  </div>
</div>
