<div class="py-3 px-3 sticky-top top-gap bg-white border rounded" *ngIf="company">
  <img *ngIf="company.profileImage" class="bg-light rounded-circle p-1 w-100" [src]="getImageUrl(company.profileImage)">
  <bi *ngIf="!company.profileImage" class="bg-light text-secondary rounded-circle p-1 w-100" name="person-circle"></bi>
  <div class="h2">{{company.name}}</div>
  <div class="mt-4 text-secondary">{{company.description}}</div>
  <a [routerLink]="['profile']" class="btn btn-sm btn-outline-primary rounded-pill w-100 mt-3" role="button">Edit profile</a>
  <div class="mt-3 d-flex">
    <bi class="icon mr-1 text-primary" name="geo-alt"></bi>
    {{company.location.city.name}}, {{company.location.country.name}}
  </div>
  <div class="mt-3 d-flex">
    <bi class="icon mr-1 text-primary" name="file-post"></bi>
    Remaining posts {{remainingPosts}}
  </div>
</div>