<div class="container mb-5">
  <div class="row col-sm">
    <div class="col-lg-3 col-md-5 mb-2">
      <div class="card">
        <div class="card-header">
          Active requests
        </div>
        <div class="card-body card-body-requests">
          <ul class="list-group requests-list">
            <spinner *ngIf="showSpinnerActiveRequests"></spinner>
            <a [routerLink]="" *ngFor="let activeRequest of activeRequests"
              (click)="setSelectedRequest(activeRequest)" 
              [ngClass]="{ 'selected-request' : selectedRequest?.id === activeRequest.id}"
              class="list-group-item list-group-item-action nms-cursor d-flex justify-content-between align-items-center mb-4">
                <span [ngClass]="{ 'font-weight-bold' : activeRequest.seenByCompany === false }">{{activeRequest.note}}</span> 
                <span *ngIf="!activeRequest.seenByCompany" class="badge badge-danger">o</span>
            </a>
          </ul>
        </div>
      </div>
    </div>
    <div *ngIf="!selectedRequest" class="col-lg-9 col-md-7 text-secondary d-flex justify-content-center">Requests that you sent to talents will appear here. Select a request from the list.</div>
    <div *ngIf="selectedRequest" class="col-lg-9 col-md-7">
      <div class="vr"></div>
      <div class="bg-white border rounded p-3">
        <div class="d-flex justify-content-between align-items-center mb-4">
          <h3>{{selectedRequest?.note}}</h3>
          <div class="d-flex justify-content-between align-items-center">
            <a *ngIf="showRefreshBtn && selectedRequest" class="text-secondary text-decoration-none nms-cursor">
              <bi name="arrow-clockwise" class="icon lead nms-pencil-square text-warning" (click)="refreshSelected(selectedRequest.id)"></bi>
            </a>
            <a *ngIf="selectedRequest" class="text-secondary text-decoration-none nms-cursor">
              <bi name="pencil-square" class="icon lead nms-pencil-square" (click)="openEditNoteDialog(editNoteDialog)"></bi>
            </a>
          </div>
        </div>
        <div class="hr">
          <span class="text-secondary">Talent details</span>
        </div>
        <div class="p-2">
          <div class="m-0">
            Positions
          </div>
          <div class="font-weight-light text-secondary m-0 pl-1 mb-2 text-date">
            <span *ngFor="let position of selectedRequest.positions; let positionIndex = index">
              {{position.name}} {{positionIndex != selectedRequest.positions.length - 1 ? ',' : ''}}
            </span>
          </div>
          <div class="m-0">
            Skills
          </div>
          <div class="font-weight-light text-secondary m-0 pl-1 text-date">
            <span *ngFor="let skill of selectedRequest.skills;let skillIndex = index">
              {{skill.name}} {{skillIndex != selectedRequest.skills.length - 1 ? ',' : ''}}
            </span>
          </div>
          <div class="m-0 mt-2">
            Work experience 
          </div>
          <div class="font-weight-light text-secondary m-0 pl-1 text-date" *ngFor="let project of selectedRequest?.projects">
            <div class="text-secondary mb-2">{{project.myRole}}</div>
            <div class="text-secondary mb-2">{{project.description}}</div>
            <div class="text-secondary mb-2">{{project.technologiesUsed}}</div>
            <hr/>
          </div>
        </div>
        <div class="hr mb-3 mt-2">
          <span class="text-secondary">Terms</span>
        </div>
        <div class="nms-row" *ngFor="let talentTermRequest of selectedRequest.talentTermRequests; let i=index">
          <talent-term-request [talentTermRequest]="talentTermRequest" 
                                [requestId]="selectedRequest.id" 
                                [requestModifiedOn]="selectedRequest.modifiedOn"
                                (selectedRequestCompanyChange)="selectedRequest=$event" 
                                (showRefreshBtnChange)="showRefreshBtn=true">
          </talent-term-request>
        </div>
        <h5 *ngIf="areAllTermsAccepted()" class="text-center">All terms are accepted, please wait for talent to accept the request.</h5>
        <div class="btn btn-outline-danger btn-block rounded-pill shadow-none mt-3" (click)="reject()">Decline</div>
      </div>
    </div>
  </div>
</div>

<ng-template #editNoteDialog let-modal>
  <form [formGroup]="editNoteForm" (ngSubmit)="editNote()" novalidate>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Edit note</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="form-group">
        <label for="newNote">Note:</label>
        <input type="text" 
                  class="form-control border-top-0 border-left-0 border-right-0 shadow-none rounded-0" 
                  formControlName="newNote" 
                  id="newNote" 
                  placeholder="Note" 
                  [class]="(newNote?.invalid && (newNote?.dirty || newNote?.touched)) ? 'is-invalid' : ''" />
        <div *ngIf="newNote?.errors?.['required']" class="invalid-feedback">
          Please enter note.
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button class="btn btn-primary rounded-pill w-100 mt-3" type="submit">Save</button>
    </div>
  </form>
</ng-template>