<div infinite-scroll
[immediateCheck]="true"
    [infiniteScrollDistance]="2"
    [infiniteScrollThrottle]="1000"
    (scrolled)="onScroll()" 
    class="my-2" *ngFor="let post of posts">
  <nms-post [post]="post" 
    [isLogged]="isLogged"
    [isFollowing]="followCompanies.includes(post.company.id)"
    [isLiked]="likedPosts.includes(post.id)"
    (followChange)="followCompany($event)"
    (unfollowChange)="unfollowCompany($event)"
    (likeChange)="addLikedPost($event)"
    (unlikeChange)="removeLikedPost($event)"
    [loggedCompanyId]="loggedCompanyId"></nms-post>
</div>
