.posts-selector {
  border-radius: 0px;
  border: none;
}

.sticky-top {
  z-index: 0;
}

.top-gap {
  top: 70px;
}

.border-bottom-thick {
  border-bottom-width: 2px !important;
}

.nms-row {
  margin-right: 0px;
  margin-left: 0px;
  background-color: white;
}

.nms-hr {
  background-color: white;
}