<div class="container mb-5">
  <div class="row">
    <div class="col-lg-4 col-md-5 d-md-block d-none">
      <div class="py-3 px-3 sticky-top top-gap bg-white border rounded">
        <img class="bg-light rounded-circle p-1 w-100" src="https://pbs.twimg.com/profile_images/1374273767124439041/TxI-hVAa_400x400.png">
        <div class="h2">{{talent?.firstName}} {{talent?.lastName}}</div>
        <div class="h4 text-secondary font-weight-light"><small>{{talent?.user?.username}}</small></div>
      </div>
    </div>
    <div class="col-lg-8 col-md-7">
      <a class="btn btn-outline-primary w-30 mr-2 posts-selector" 
        (click)="setPostsType(postsType.GLOBAL);getGlobalPosts(0);"
        [ngClass]="selectedPostsType === 'GLOBAL' ? 'btn-outline-primary' : 'btn-outline-secondary'">Global posts</a>
      <a class="btn w-30 mr-2 posts-selector" 
        (click)="getFollowingCompaniesPosts(0);setPostsType(postsType.FOLLOWING)"
        [ngClass]="selectedPostsType === 'FOLLOWING' ? 'btn-outline-primary' : 'btn-outline-secondary'">Following posts</a>
      <a class="btn btn-outline-primary w-30 mr-2 posts-selector" 
      (click)="setPostsType(postsType.COUNTRY)"
        [ngClass]="selectedPostsType === 'COUNTRY' ? 'btn-outline-primary' : 'btn-outline-secondary'">Specific country posts</a>
      <select *ngIf="selectedPostsType === 'COUNTRY'" (change)="selectCountry($event)" class="form-control form-control-sm" id="company-country">
        <option [value]="undefined">Select country</option>
        <option *ngFor="let country of countries" [value]="country.id">{{country.name}}</option>
      </select>
      <hr/>
      <nms-company-feed [posts]="posts"></nms-company-feed>
    </div>
  </div>
</div>