<div class="container mb-5">
  <div class="row">
    <div class="col-lg-4 col-md-5 d-md-block d-none">
      <div class="py-3 px-3 sticky-top top-gap bg-white border rounded">
        <bi name="person-circle" class="p-1 w-100 text-secondary"></bi>
        <div class="h2">{{talent?.firstName}} {{talent?.lastName}}</div>
        <div class="h4 text-secondary font-weight-light"><small>{{talent?.user?.username}}</small></div>
        <hr>
        <button [routerLink]="['profile']" class="btn btn-sm btn-outline-primary rounded-pill w-100" type="button" ngbPopover="Set up your profile and showcase your skills and experience in order to appear in company searches." [autoClose]="true" triggers="manual" #popover="ngbPopover" placement="bottom" popoverTitle="Welcome!" popoverClass="text-primary">Edit profile</button>
      </div>
    </div>
    <div *ngIf="talent" class="col-lg-8 col-md-7">
      <a class="btn btn-outline-primary mr-2 posts-selector" 
        (click)="setPostsType(postsType.GLOBAL);getGlobalPosts(0);"
        [ngClass]="selectedPostsType === 'GLOBAL' ? 'btn-outline-primary' : 'btn-outline-secondary'">Global posts</a>
      <a class="btn mr-2 posts-selector" 
        (click)="getFollowingCompaniesPosts(0);setPostsType(postsType.FOLLOWING)"
        [ngClass]="selectedPostsType === 'FOLLOWING' ? 'btn-outline-primary' : 'btn-outline-secondary'">Following posts</a>
      <a class="btn btn-outline-primary mr-2 posts-selector" 
      (click)="setPostsType(postsType.COUNTRY)"
        [ngClass]="selectedPostsType === 'COUNTRY' ? 'btn-outline-primary' : 'btn-outline-secondary'">Specific country posts</a>
      <select *ngIf="selectedPostsType === 'COUNTRY'" (change)="selectCountry($event)" class="form-control form-control-sm" id="company-country">
        <option [value]="undefined">Select country</option>
        <option *ngFor="let country of countries" [value]="country.id">{{country.name}}</option>
      </select>
      <hr>
      <nms-company-feed [posts]="posts" 
                        [isLastPage]="isLastPage" 
                        (scrollChange)="getNextPosts()" 
                        [likedPosts]="talent.likedPosts"></nms-company-feed>
    </div>
  </div>
</div>