<form [formGroup]="editDetailsForm" (ngSubmit)="edit(editDetailsForm.value)" novalidate>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Edit Company Details</h4>
    <button type="button" class="close" aria-label="Close" (click)="close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="form-group">
      <input type="text" 
                class="form-control shadow-none rounded-0" 
                formControlName="name" 
                id="name" 
                placeholder="Name" 
                [class]="(name?.invalid && (name?.dirty || name?.touched)) ? 'is-invalid' : ''" />
      <div *ngIf="name?.errors?.['required']" class="invalid-feedback">
        Please enter name.
      </div>
    </div>
    <div class="form-group">
      <textarea type="text" 
                class="form-control shadow-none rounded-0" 
                formControlName="description" 
                id="description" 
                placeholder="Description" 
                [class]="(description?.invalid && (description?.dirty || description?.touched)) ? 'is-invalid' : ''"></textarea>
      <div *ngIf="description?.errors?.['required']" class="invalid-feedback">
        Please enter description.
      </div>
    </div>
    <div formGroupName="newLocation">
      <div class="form-group">
        <select class="form-control form-control-sm" 
                (change)="citiesForCountryId();deselectCity();" 
                id="company-country" 
                type="text" 
                formControlName="countryId"
                [class]="(countryId?.invalid && (countryId?.dirty || countryId?.touched)) ? 'is-invalid' : ''">
          <option *ngFor="let country of countries" [value]="country.id">{{country.name}}</option>
        </select>
        <div *ngIf="!countryId" class="invalid-feedback">
          Please select a country.
        </div>
      </div>
      <div class="form-group">
        <input type="text" 
                  class="form-control shadow-none rounded-0" 
                  formControlName="province" 
                  id="province" 
                  placeholder="Province" 
                  [class]="(province?.invalid && (province?.dirty || province?.touched)) ? 'is-invalid' : ''" />
        <div *ngIf="province?.errors?.['required']" class="invalid-feedback">
          Please enter province.
        </div>
      </div>
      <div class="form-group">
        <select class="form-control form-control-sm" id="company-city" type="text" formControlName="cityId"
          [class]="cityId?.invalid ? 'is-invalid' : ''">
          <option [value]="undefined" disabled="true">Select city</option>
          <option *ngFor="let city of cities" [value]="city.id">{{city.name}}</option>
        </select>
        <div *ngIf="cityId?.invalid" class="invalid-feedback">
          Please enter city.
        </div>
      </div>
      <div class="form-group">
        <input type="text" 
                  class="form-control shadow-none rounded-0" 
                  formControlName="address" 
                  id="address" 
                  placeholder="Address" 
                  [class]="(address?.invalid && (address?.dirty || address?.touched)) ? 'is-invalid' : ''" />
        <div *ngIf="address?.errors?.['required']" class="invalid-feedback">
          Please enter address.
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary rounded-pill w-100 mt-3" [disabled]="editDetailsForm.invalid" type="submit">Save</button>
  </div>
</form>