<div>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Edit available locations</h4>
    <button type="button" class="close" aria-label="Close" (click)="close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="mb-3">Locations you are available to work at:</div>
      <div>
        <div *ngFor="let availableLocation of talent.availableLocations" class="row mb-2">
          <div class="col">
            <div class="d-flex align-items-center mb-2">
              <bi name="geo-alt-fill" class="nms-small-icon mr-1"></bi>
              {{availableLocation.country}}
              <bi name="trash" (click)="removeLocation(availableLocation)" class="nms-icon ml-2"></bi>
            </div>
          </div>
          <div class="col">
            <div class="d-flex flex-wrap">
              <div *ngFor="let city of availableLocation.cities" class="border pl-2 pr-2 pb-1 pt-1 mr-2 mb-2 rounded-pill">
                <span>{{city}}</span>
                <button type="button" (click)="removeAvailableCity(city, availableLocation)" class="close ml-2" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
            </div>
            <typeahead [data]="selectedCountryCitiesMap.get(availableLocation.country)" [placeholder]="'Select city from ' + availableLocation.country" (selectItem)="onSelectCity($event, availableLocation)"></typeahead>
          </div>
          <div class="col-12">
            <hr/>
          </div>
          
        </div>
      </div>
      <div class="d-flex justify-content-between align-items-center my-1 mt-3">
        <typeahead [data]="searchableCountries" placeholder="Select country" (selectItem)="onSelectCountry($event)"></typeahead>
      </div>
  </div>
</div>