<div class="container mb-5">
  <div class="row">
    <div class="col-lg-3 col-md-5 mb-2">
      <div class="card">
        <div class="card-header">
          <b class="text-secondary">Existing templates</b>
        </div>
        <div class="card-body card-body-templates">
          <ul class="list-group templates-list">
            <spinner *ngIf="showSpinnerExistingTemplates"></spinner>
            <a [routerLink]="" [class.selected-template]="i === selectedTemplateIndex" *ngFor="let template of templates;let i = index" (click)="selectTemplate(template, i)" class="list-group-item list-group-item-action nms-cursor">{{template.name}}</a>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-lg-9 col-md-7">
      <div class="vr"></div>
      <div class="bg-white border rounded p-3">
        <div class="d-flex justify-content-between mb-3">
          <div>
            <h5 *ngIf="selectedTemplateIndex === -1">Create a new search template</h5>
            <h5 *ngIf="selectedTemplateIndex > -1">Edit a search template</h5>
            <small class="text-secondary">A search template can later be reused when searching for talents matching a certain profile.</small>
          </div>
          <bi *ngIf="selectedTemplateIndex > -1" 
            name="trash" 
            class="icon lead fa-lg nms-x-circle nms-cursor" 
            (click)="openRemoveTemplateDialog(removeTemplateDialog)"></bi>
        </div>
        <form [formGroup]="addTemplateForm" (ngSubmit)="onSubmit()" novalidate>
          <div class="form-group p-2">
            <input type="text" 
                  class="form-control shadow-none rounded-0" 
                  formControlName="name" 
                  id="name" 
                  placeholder="Template name" 
                  [class]="(name?.invalid && (name?.dirty || name?.touched || submitted)) ? 'is-invalid' : ''">
            <div *ngIf="name?.errors?.['required']" class="invalid-feedback">
              Please enter template name.
            </div>
          </div>
          <div formArrayName="facets" class="p-2">
              <div [formGroupName]="i" class="row" *ngFor="let facet of facets.controls; let i=index">
                <div class="row nms-row col-11">
                  <div *ngIf="facets.controls[i].get('type')?.value !== ''" 
                      [ngClass]="{'col-md-4' : facet.value.type === 'TERM' && facets.controls[i].get('code')?.value !== '' && facets.controls[i].get('codeType')?.value !== 'BOOLEAN'}"
                      class="col-12">
                    <select formControlName="code" 
                            (change)="setCodeType(facets.controls[i].get('type'), facets.controls[i].get('code'), i)"
                            class="form-control" 
                            aria-label="Select skill"
                            [class]="(facets.controls[i].get('code')?.invalid && (facets.controls[i].get('code')?.dirty || facets.controls[i].get('code')?.touched)) ? 'is-invalid' : ''">
                      <option value="" disabled selected>{{ getPlaceholderText(facets.controls[i].get('type')?.value) }}</option>
                      <option *ngFor="let code of codes.get(i)" [ngValue]="code.code">{{code.name}}</option>
                    </select>
                    <div *ngIf="facets.controls[i].get('code')?.errors?.['required']" class="invalid-feedback">
                      Please select term.
                    </div>
                  </div>
                  <div *ngIf="facet.value.type === 'TERM' && facets.controls[i].get('code')?.value !== '' && facets.controls[i].get('codeType')?.value !== 'BOOLEAN'" 
                      class="col-12 col-md-4">
                    <input formControlName="value" 
                    type="text" 
                    class="form-control" 
                    placeholder="Value" 
                    [class]="(facets.controls[i].get('value')?.invalid && (facets.controls[i].get('value')?.dirty || facets.controls[i].get('value')?.touched || submitted)) ? 'is-invalid' : ''">
                    <div *ngIf="facets.controls[i].get('value')?.errors?.['required']" class="invalid-feedback">
                      Please enter value.
                    </div>
                  </div>
                  <div *ngIf="facet.value.type === 'TERM' && facets.controls[i].get('code')?.value !== '' && facets.controls[i].get('codeType')?.value !== 'BOOLEAN'" 
                      class="col-12 col-md-4">
                    <select formControlName="operatorType" 
                            class="form-control" 
                            aria-label="Select operator"
                            [class]="(facets.controls[i].get('operatorType')?.invalid && (facets.controls[i].get('operatorType')?.dirty || facets.controls[i].get('operatorType')?.touched || submitted)) ? 'is-invalid' : ''">
                      <option value="" selected disabled>Select operator</option>
                      <option *ngFor="let ot of operatorTypes" [ngValue]="ot.value">{{ot.name}}</option>
                    </select>
                    <div *ngIf="facets.controls[i].get('operatorType')?.errors?.['required']" class="invalid-feedback">
                      Please select operator type.
                    </div>
                  </div>
                </div>
                <div class="d-flex align-items-center justify-content-center col-1 pb-2">
                  <a (click)="removeFacet(i)" class="text-secondary text-decoration-none nms-cursor">
                    <bi name="x-circle" class="icon lead fa-lg nms-x-circle"></bi>
                  </a>
                </div>
              </div>
          </div>
          <div class="d-flex justify-content-center text-end mb-5">
            <div class="btn btn-outline-primary btn-block rounded-pill shadow-none w-50" (click)="addTerm()">Add term</div>
          </div>
          <div class="hr">
            <span class="text-secondary">Skills</span>
          </div>
          <div *ngIf="selectedSkills && selectedSkills.length > 0" class="d-flex flex-wrap p-2">
            <div *ngFor="let selectedSkill of selectedSkills; let i=index" class="border pl-2 pr-2 pb-1 pt-1 mr-2 mb-2 rounded-pill">
                <span>{{selectedSkill.name}}</span>
                <button type="button" (click)="removeSkill(i)" class="close ml-2" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
            </div>
          </div>
          <div class="d-flex justify-content-between align-items-center my-1 pl-2 mb-3">
            <typeahead [data]="searchableSkills" placeholder="Add skill" (selectItem)="addSkill($event)"></typeahead>
          </div>
          <div class="hr">
            <span class="text-secondary">Positions</span>
          </div>
          <div *ngIf="selectedPositions && selectedPositions.length > 0" class="d-flex flex-wrap p-2">
            <div *ngFor="let selectedPosition of selectedPositions; let i=index" class="border pl-2 pr-2 pb-1 pt-1 mr-2 mb-2 rounded-pill">
                <span>{{selectedPosition.name}}</span>
                <button type="button" (click)="removePosition(i)" class="close ml-2" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
            </div>
          </div>
          <div class="d-flex justify-content-between align-items-center my-1 pl-2 mb-3">
            <typeahead [data]="searchablePositions" placeholder="Add position" (selectItem)="addPosition($event)"></typeahead>
          </div>
          <div class="hr">
            <span class="text-secondary">Details</span>
          </div>
          <div class="row mb-3 pl-2">
            <div class="col-auto">
              <label for="experience-years" class="text-secondary">Minimum years of experience:</label>
              <input id="experience-years" class="form-control" type="number" min="0" max="99" formControlName="experienceYears">
            </div>
          </div>
          <div class="mb-3 pl-2 pr-2">
            <label class="text-secondary">Talent's available locations:</label>
            <div>
              <div *ngFor="let availableLocation of availableLocations" class="row" [ngClass]="{'mb-2' : availableLocations && availableLocations.length > 0}">
                <div class="col">
                  <div class="d-flex align-items-center mb-2">
                    <bi name="geo-alt-fill" class="nms-small-icon mr-1"></bi>
                    {{availableLocation.country}}
                    <bi name="trash" (click)="removeLocation(availableLocation)" class="nms-x-circle nms-cursor ml-2"></bi>
                  </div>
                </div>
                <div class="col">
                  <div class="d-flex flex-wrap">
                    <div *ngFor="let city of availableLocation.cities" class="border pl-2 pr-2 pb-1 pt-1 mr-2 mb-2 rounded-pill">
                      <span>{{city}}</span>
                      <button type="button" (click)="removeAvailableCity(city, availableLocation)" class="close ml-2" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                  </div>
                  <typeahead [data]="selectedCountryCitiesMap.get(availableLocation.country)" [placeholder]="'Select city from ' + availableLocation.country" (selectItem)="onSelectCity($event, availableLocation)"></typeahead>
                </div>
              </div>
            </div>
            <div class="d-flex justify-content-between align-items-center my-1 mt-3">
              <typeahead [data]="searchableCountries" placeholder="Select country" (selectItem)="onSelectCountry($event)"></typeahead>
            </div>
          </div>
          <div *ngIf="selectedTemplateIndex > -1" class="btn btn-outline-primary btn-block rounded-pill shadow-none" (click)="clearSelected()">Cancel</div>
          <button class="btn btn-primary rounded-pill my-2 w-100" [disabled]="addTemplateForm.invalid" type="submit">Save</button>
        </form>
      </div>
    </div>
  </div>
</div>

<ng-template #removeTemplateDialog let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Remove confirmation</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <span>Are you sure you want to remove template ?</span>
    </div>
    <div class="modal-footer">
      <div class="btn btn-primary rounded-pill w-100 mt-3" (click)="removeTemplate()">Remove</div>
    </div>
</ng-template>