@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";

.templates-list {
  height:300px;
  max-height: 100vh;
  overflow-y: scroll;
}

.card-body-templates {
  padding: 0px;
}

.templates-list > .list-group-item {
  border: none;
  border-radius: 0px;
  text-decoration: none;
  color: $gray-600;
  border-left: 4px solid white;
}

.templates-list > a:hover {
  border-left: 4px solid $cyan !important;
}

.selected-template {
  border-left: 4px solid $cyan !important;
}

.nms-row {
  padding-bottom: 15px;
}

.nms-plus-circle {
  height: 2em;
}

.nms-plus-circle:hover {
  color: $cyan;
}

.nms-x-circle {
  height: 1em;
}

.nms-x-circle:hover {
  color: theme-color("danger");
}

.nms-template-vertical {
  width: 0px;
  height: 100vh;
  border-left: 1px;
}

.nms-cursor:hover {
  cursor: pointer;
}

.invalid-number-of-facets {
  width: 100%;
  margin-top: 0.25rem;
  font-size: 80%;
  color: theme-color("danger");
}

.nms-small-icon {
  width: 1em;
  color: $cyan;
}

.hr {
  overflow: hidden;
}

.hr > span {
  position: relative;
  display: inline-block;
  width: 100%;
}

.hr > span:after {
  content: "";
  position: absolute;
  top: 50%;
  width: 100%;
  height: 1px;
  background: $gray-200;
}

#experience-years {
  width: 5em;
}

.nms-icon {
  height: 1.8em;
  width: 1.8em
}

.nms-icon:hover {
  cursor: pointer;
}

.nms-add:hover {
  color: $cyan;
}
