<div id="page-container">
  <div id="page-content">
    <nms-toast aria-live="polite" aria-atomic="true"></nms-toast>
    <router-outlet></router-outlet>
  </div>
  <div id="footer" class="d-none d-md-block">
    <footer class="d-flex flex-wrap justify-content-center align-items-center border-top bg-white h-100 shadow">
      <p class="col-md-4 mb-0 text-muted small text-center">
        Questions? Email us at info@nullhire.com<br>
        © 2023 Nullhire, All rights reserved.<br>
        <a class="text-primary" routerLink="/legal/privacy-notice">Privacy</a> | <a>About</a>
      </p>
      
    </footer>
  </div>
  <div id="footer-mobile" class="d-md-none d-block">
    <footer class="d-flex flex-wrap justify-content-center align-items-center h-100">
      <p class="text-muted small text-center">
        Questions? Email us at info@nullhire.com<br>
        © 2023 Nullhire, All rights reserved.<br>
        <a routerLink="/legal/privacy-notice">Privacy</a> | <a>About</a>
      </p>
      
    </footer>
  </div>
</div>

