<div class="container mb-5">
  <div class="row">
    <div class="col-lg-4 col-md-5 d-md-block d-none">
      <div class="py-3 px-3 sticky-top top-gap bg-white border rounded" *ngIf="company">
        <div class="d-flex">
          <a (click)="openDialog(uploadProfileImageDialog)" class="text-secondary text-decoration-none nms-cursor">
            <bi class="upload-image-icon" name="image"></bi>
          </a>
        </div>
        <img *ngIf="company.profileImage" class="bg-light rounded-circle p-1 w-100" [src]="getImageUrl(company.profileImage)">
        <bi *ngIf="!company.profileImage" class="bg-light text-secondary rounded-circle p-1 w-100" name="person-circle"></bi>
        <div class="h2">{{company.name}}</div>
        <div class="mt-3 d-flex">
          <bi class="icon mr-1 text-primary" name="geo-alt"></bi>
          {{company.location.city.name}}, {{company.location.country.name}}
        </div>
        <div class="mt-3 d-flex">
          <bi class="icon mr-1 text-primary" name="box"></bi>
          {{subscription?.plan?.name}}
        </div>
      </div>
    </div>
    <div class="col-lg-8 col-md-7">
      <div class="mt-1 p-4 bg-white border rounded">
        <div class="d-flex justify-content-between">
          <h3>Details</h3>
          <a class="text-secondary text-decoration-none nms-cursor">
            <bi name="pencil-square" class="lead nms-pencil-square nms-cursor" (click)="openDialog(editDetailsDialog)"></bi>
          </a>
        </div>
        <div class="mb-2"><b>Name</b>: {{company?.name}}</div>
        <div class="mb-2"><b>Username</b>: {{username}}</div>
        <div class="mb-2"><b>Description</b>: {{company?.description}}</div>
        <div *ngIf="company?.location" class="d-flex">
          <bi class="icon mr-1 text-primary nms-icon" name="geo-alt"></bi>
          {{company.location.address}}, 
          {{company.location.city.name}}, 
          {{company.location.province ? company?.location?.province + ',' : ''}}
          {{company.location.country.name}}
        </div>
      </div>
      <div class="p-4 mt-1 bg-white border">
        <div class="d-flex justify-content-between">
          <h3>Contacts</h3>
          <a class="text-secondary text-decoration-none nms-cursor" (click)="openDialog(editContactsDialog)">
            <bi name="pencil-square" class="lead nms-pencil-square"></bi>
          </a>
        </div>
        <div *ngFor="let contact of contacts">
          <div class="d-flex mb-2 align-items-center">
            <bi *ngIf="contact.type === 'EMAIL'" class="icon mr-2 text-primary nms-icon" name="envelope"></bi>
            <bi *ngIf="contact.type === 'TELEPHONE'" class="icon mr-2 text-primary nms-icon" name="telephone"></bi>
            <bi *ngIf="contact.type === 'URL'" class="icon mr-2 text-primary nms-icon" name="link"></bi>
            {{contact?.value}}
          </div>
        </div>
      </div>
      <div class="p-4 mt-1 bg-white border rounded">
        <div>
          <div>
            <div class="d-flex justify-content-between">
              <h3>Benefits</h3>
              <a class="text-secondary text-decoration-none nms-cursor" (click)="openDialog(editBenefitsDialog)">
                <bi name="pencil-square" class="lead nms-pencil-square"></bi>
              </a>
            </div>
            <div *ngFor="let benefit of benefits">
              <div class="d-flex mb-2 align-items-center">
                <p><b>{{benefit.name}}</b> - {{benefit.description}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="pl-2 pb-4 pt-4 mt-1 bg-white border rounded">
        <div class="d-flex justify-content-between align-items-start">
          <div class="col-md-12">
            <h3>Subcription</h3>
            <div class="mb-2">
              <p>
                <b>{{subscription?.plan?.name}}</b> - {{subscription?.plan?.description}}
                <br/>
                <b>Active</b> - from <b>{{subscription?.startDate | date: 'longDate'}}</b> until <b>{{subscription?.endDate | date: 'longDate'}}</b>
                <br/>
              </p>
            </div>
            <div *ngFor="let productUsage of productUsages" class="mb-2">
              <h4>{{productUsage.product.name}}</h4>
              <p>
                {{productUsage.product.description}}
                <br />
                Remaining  <b>{{productUsage.remaining}}</b>
                <br />
                Valid until <b>{{productUsage.endDate | date: 'longDate'}}</b>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #editDetailsDialog let-modal>
  <edit-details [company]="company"
                (detailsChange)="company=$event"></edit-details>
</ng-template>


<ng-template #editContactsDialog let-modal>
  <edit-contacts [contacts]="contacts"
                 (contactsChanged)="contacts=$event"></edit-contacts>
</ng-template>

<ng-template #editBenefitsDialog let-modal>
  <edit-benefits [benefits]="benefits"
                 (benefitsChanged)="benefits=$event"></edit-benefits>
</ng-template>

<ng-template #uploadProfileImageDialog let-modal>
  <upload-profile-image (profileImageChangedEvent)="profileImageChanged($event)"></upload-profile-image>
</ng-template>