@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";

.icon {
  width: 1em;
}

.upload-image-icon {
  width: 2em;
}

.upload-image-icon:hover {
  color: $cyan;
}

.top-gap {
  top: 3.5em;
}

.nms-pencil-square {
  height: 2em;
}

.nms-cursor:hover {
  cursor: pointer;
}

.nms-pencil-square:hover {
  color: $cyan;
}

.nms-icon {
  font-size: 1.2em;
}

.nms-remove-icon {
  height: 1.8em;
}

.nms-remove-icon:hover {
  color: $red;
}