@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";

.icon {
  width: 1em;
}

.top-gap {
  top: 3.5em;
}

.nms-pencil-square {
  height: 2em;
}

.nms-cursor:hover {
  cursor: pointer;
}

.nms-pencil-square:hover {
  color: $cyan;
}