<div class="container mb-5">
  <div class="row">
    <div class="col-lg-3 col-md-5 d-md-block mb-2">
      <div class="card">
        <div class="card-header">
          Existing templates
        </div>
        <div class="card-body card-body-templates">
          <ul class="list-group templates-list">
            <spinner *ngIf="showSpinnerExistingTemplates"></spinner>
            <a [routerLink]="" 
              [class.selected-template]="template.id === selectedTemplate?.id" 
              *ngFor="let template of templates;let i = index" 
              (click)="selectTemplate(template)" 
              class="list-group-item list-group-item-action nms-cursor">{{template.name}}</a>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-lg-9 col-md-7">
      <div class="bg-white border rounded p-3">
        <div class="mb-3">
          <h5>Filters</h5>
          <small class="text-secondary">Find talents matching selected criteria or select a template from the list of existing templates.</small>
        </div>
        <form [formGroup]="searchTalentsForm" (ngSubmit)="search(0)" novalidate>
          <div class="hr mb-2">
            <span class="text-secondary">Terms</span>
          </div>
          <div formArrayName="facets" class="p-2">
            <div [formGroupName]="i" *ngFor="let facet of facets.controls; let i=index" class="row">
              <div class="row nms-row col-11">
                <div *ngIf="facets.controls[i].get('type')?.value !== ''" 
                      [ngClass]="{'col-md-4' : facet.value.type === 'TERM' && facets.controls[i].get('code')?.value !== '' && facets.controls[i].get('codeType')?.value !== 'BOOLEAN'}" 
                      class="col-12">
                  <select formControlName="code" 
                          (change)="setCodeType(facets.controls[i].get('type'), facets.controls[i].get('code'), i)"
                          class="form-control" 
                          aria-label="Select skill"
                          [class]="(facets.controls[i].get('code')?.invalid && (facets.controls[i].get('code')?.dirty || facets.controls[i].get('code')?.touched)) ? 'is-invalid' : ''">
                    <option value="" disabled selected>{{ getPlaceholderText(facets.controls[i].get('type')?.value) }}</option>
                    <option *ngFor="let code of codes.get(i)" [ngValue]="code.code">{{code.name}}</option>
                  </select>
                  <div *ngIf="facets.controls[i].get('code')?.errors?.['required']" class="invalid-feedback">
                    Please select term.
                  </div>
                </div>
                <div *ngIf="facet.value.type === 'TERM' && facets.controls[i].get('code')?.value !== '' && facets.controls[i].get('codeType')?.value !== 'BOOLEAN'" 
                    class="col-12 col-md-4">
                  <input formControlName="value" 
                  type="text" 
                  class="form-control" 
                  placeholder="Value" 
                  [class]="(facets.controls[i].get('value')?.invalid && (facets.controls[i].get('value')?.dirty || facets.controls[i].get('value')?.touched)) ? 'is-invalid' : ''">
                  <div *ngIf="facets.controls[i].get('value')?.errors?.['required']" class="invalid-feedback">
                    Please enter value.
                  </div>
                </div>
                <div *ngIf="facet.value.type === 'TERM' && facets.controls[i].get('code')?.value !== '' && facets.controls[i].get('codeType')?.value !== 'BOOLEAN'" 
                    class="col-12 col-md-4">
                  <select formControlName="operatorType" 
                          class="form-control" 
                          aria-label="Select operator"
                          [class]="(facets.controls[i].get('operatorType')?.invalid && (facets.controls[i].get('operatorType')?.dirty || facets.controls[i].get('operatorType')?.touched)) ? 'is-invalid' : ''">
                    <option value="" selected disabled>Select operator</option>
                    <option *ngFor="let ot of operatorTypes" [ngValue]="ot.value">{{ot.name}}</option>
                  </select>
                  <div *ngIf="facets.controls[i].get('operatorType')?.errors?.['required']" class="invalid-feedback">
                    Please select operator type.
                  </div>
                </div>
              </div>
              <div class="d-flex align-items-center justify-content-center col-1 pb-2">
                <a (click)="removeFacet(i)" class="text-secondary text-decoration-none nms-cursor">
                  <bi name="x-circle" class="icon lead fa-lg nms-x-circle"></bi>
                </a>
              </div>
            </div>
          </div>
          <div class="d-flex justify-content-center text-end mb-5">
            <div class="btn btn-outline-primary btn-block rounded-pill shadow-none w-50" (click)="addTerm()">Add term</div>
          </div>
          <div class="hr">
            <span class="text-secondary">Skills</span>
          </div>
          <div *ngIf="selectedSkills && selectedSkills.length > 0" class="d-flex flex-wrap p-2">
            <div *ngFor="let selectedSkill of selectedSkills; let i=index" class="border pl-2 pr-2 pb-1 pt-1 mr-2 mb-2 rounded-pill">
                <span>{{selectedSkill.name}}</span>
                <button type="button" (click)="removeSkill(i)" class="close ml-2" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
            </div>
          </div>
          <div class="d-flex justify-content-between align-items-center my-1 pl-2 mb-3">
            <typeahead [data]="searchableSkills" placeholder="Add skill" (selectItem)="addSkill($event)"></typeahead>
          </div>
          <div class="hr">
            <span class="text-secondary">Positions</span>
          </div>
          <div *ngIf="selectedPositions && selectedPositions.length > 0" class="d-flex flex-wrap p-2">
            <div *ngFor="let selectedPosition of selectedPositions; let i=index" class="border pl-2 pr-2 pb-1 pt-1 mr-2 mb-2 rounded-pill">
                <span>{{selectedPosition.name}}</span>
                <button type="button" (click)="removePosition(i)" class="close ml-2" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
            </div>
          </div>
          <div class="d-flex justify-content-between align-items-center my-1 pl-2 mb-3">
            <typeahead [data]="searchablePositions" placeholder="Add position" (selectItem)="addPosition($event)"></typeahead>
          </div>
          <div class="hr mb-2">
            <span class="text-secondary">Details</span>
          </div>
          <div class="row mb-3 pl-2">
            <div class="col-auto">
              <label for="experience-years" class="text-secondary">Minimum years of experience:</label>
              <input id="experience-years" class="form-control" type="number" min="0" max="99" formControlName="experienceYears">
            </div>
          </div>
          <div class="mb-3 pl-2 pr-2">
            <label class="text-secondary">Talent's available locations:</label>
            <div>
              <div *ngFor="let availableLocation of availableLocations" class="row" [ngClass]="{'mb-2' : availableLocations && availableLocations.length > 0}">
                <div class="col">
                  <div class="d-flex align-items-center mb-2">
                    <bi name="geo-alt-fill" class="nms-small-icon mr-1"></bi>
                    {{availableLocation.country}}
                    <bi name="trash" (click)="removeLocation(availableLocation)" class="nms-x-circle nms-cursor ml-2"></bi>
                  </div>
                </div>
                <div class="col">
                  <div class="d-flex flex-wrap">
                    <div *ngFor="let city of availableLocation.cities" class="border pl-2 pr-2 pb-1 pt-1 mr-2 mb-2 rounded-pill">
                      <span>{{city}}</span>
                      <button type="button" (click)="removeAvailableCity(city, availableLocation)" class="close ml-2" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                  </div>
                  <typeahead [data]="selectedCountryCitiesMap.get(availableLocation.country)" [placeholder]="'Select city from ' + availableLocation.country" (selectItem)="onSelectCity($event, availableLocation)"></typeahead>
                </div>
              </div>
            </div>
            <div class="d-flex justify-content-between align-items-center my-1 mt-3">
              <typeahead [data]="searchableCountries" placeholder="Select country" (selectItem)="onSelectCountry($event)"></typeahead>
            </div>
          </div>
          <hr>
          <button class="btn btn-primary rounded-pill my-2 w-100" [disabled]="searchTalentsForm.invalid" type="submit">Search</button>
          <div *ngIf="selectedTemplate" class="btn btn-outline-primary btn-block rounded-pill shadow-none" (click)="clearSelected()">Cancel</div>
        </form>
      </div>
      <div *ngIf="noFoundTalents" class="bg-white p-3 my-2 border rounded d-flex flex-column align-items-center">
          <h4>No talents found</h4>
          <small class="text-secondary">Try changing your search criteria or making it less specific.</small>
      </div>
      <div infinite-scroll 
          [immediateCheck]="true"
          [infiniteScrollDistance]="2"
          [infiniteScrollThrottle]="1000"
          (scrolled)="getNextTalents()" 
          *ngFor="let talent of foundFilteredTalents; let i = index" 
          class="bg-white p-3 my-2 border rounded d-flex justify-content-between align-items-start"
          [ngClass]="{'request-sent' : talent.requestSent}">
          <bi name="person-circle" class="col-md-1 nms-anonymous-avatar avatar text-secondary text-white p-1 avatar"></bi>
          <div class="col-md-8">
            <div *ngIf="talent.previousRequest && talent.previousRequest.status === 'REJECTED'" class="alert alert-warning">
              Request to this talent has been sent on {{talent.previousRequest.modifiedOn | date: 'dd/MM/YYYY'}} and it was rejected !
            </div>
            <div class="m-0">
              Talent {{talent.talentId.slice(0, 10)}}
            </div>
            <div class="mt-2">
              Years of experience {{talent.experienceYears}}
            </div>
            <div class="mt-2">
              Positions
            </div>
            <div class="font-weight-light text-secondary m-0 text-date">
              <span *ngFor="let position of talent.positions; let positionIndex = index">
                {{position.name}} {{positionIndex != talent.positions.length - 1 ? ',' : ''}}
              </span>
            </div>
            <div class="mt-2">
              Skills
            </div>
            <div class="font-weight-light text-secondary m-0 text-date">
              <span *ngFor="let skill of talent.skills;let skillIndex = index">
                {{skill.name}} {{skillIndex != talent.skills.length - 1 ? ',' : ''}}
              </span>
            </div>
            <div class="mt-2">
              Terms
            </div>
            <div *ngFor="let talentTerm of talent.terms" class="font-weight-light text-secondary m-0 text-date d-flex justify-content-between">
              <span>{{talentTerm.term.name}} {{talentTerm.term.type != 'BOOLEAN' ? talentTerm.value : ''}}</span>
              <span>{{talentTerm.negotiable ? 'NEGOTIABLE' : 'NON-NEGOTIABLE'}}</span>
            </div>
            <div *ngIf="talent.projects.length > 0" class="mt-2">
              Work experience
            </div>
            <div class="font-weight-light text-secondary m-0 text-date" *ngFor="let project of talent?.projects">
              <div class="text-secondary mb-2">{{project.myRole}}</div>
              <div class="text-secondary mb-2">{{project.description}}</div>
              <div class="text-secondary mb-2">{{project.technologiesUsed}}</div>
              <hr/>
            </div>
          </div>
          <div *ngIf="talent.requestSent">
            Request to talent has been sent.
          </div>
          <a *ngIf="!talent.requestSent" class="btn btn-primary rounded-pill col-md-3" (click)="openSendRequestDialog(talent, sendRequestDialog, i)" >Send request</a>
      </div>
      <spinner *ngIf="showSpinnerPosts"></spinner>
    </div>
  </div>
</div>

<ng-template #sendRequestDialog let-modal>
  <send-request [negotiableTerms]="negotiableTerms" 
                [nonNegotiableTerms]="nonNegotiableTerms"
                [talentId]="selectedTalent?.talentId"
                (requestSentChange)="requestSent()">
  </send-request>
</ng-template>