<div class="container">
  <div class="d-flex flex-column flex-md-row">
    <div class="col-md-4 py-3" [class]="usersView ? 'd-block' : 'd-none d-md-block'">
      <div *ngIf="searchingUser">
        <input class="form-control form-control-sm" id="search" type="text" [formControl]="search" placeholder="Search users">
      </div>
      <div *ngIf="!searchingUser" class="mb-2">
        <button class="btn btn-outline-secondary w-100" type="button" (click)="startSearch()">
          <span class="d-flex">
            <bi name="search" class="search-icon mr-2"></bi> Search users
          </span>
        </button>
      </div>
      <div *ngIf="!searchingUser && lastMessages.length">
        <div class="mb-1 message-item" *ngFor="let lastMessage of lastMessages">
          <nms-messages-user [lastMessage]="lastMessage" (click)="openChat(lastMessage)"></nms-messages-user>
        </div>
      </div>
      <div *ngIf="availableChats.length || searchingUser">
        <div *ngIf="searchingUser" class="d-flex justify-content-between my-3">
          <span class="font-weight-light">Search results for: {{searchString}}</span>
          <bi name="x" class="icon" (click)="onStopSearch()"></bi>
        </div>
        <div class="mb-1 message-item" *ngFor="let availableChat of availableChats">
          <nms-messages-new-user [availableChat]="availableChat" (click)="startChat(availableChat)"></nms-messages-new-user>
        </div>
      </div>
      <spinner *ngIf="showSpinnerMessages"></spinner>
      <div *ngIf="!availableChats.length && !lastMessages.length && !showSpinnerMessages" class="text-center">
        <span>No chats available.</span>
        <br>
        <span>
          You will be able to chat with someone after you accept a request.
        </span>
      </div>
    </div>
    <div class="col-md-8" [class]="usersView ? 'd-none d-md-block' : 'd-block'">
      <nms-messages-chat (openChats)="onOpenChats()"></nms-messages-chat>
    </div>
  </div>
</div>