<div class="bg-white border rounded p-3 d-flex align-items-center">
  <img *ngIf="company.profileImage" class="bg-light rounded-circle text-white p-1 avatar" [src]="getImageUrl(company.profileImage)">
  <bi *ngIf="!company.profileImage" class="bg-light rounded-circle text-secondary p-1 avatar" name="person-circle"></bi>
  <button class="btn btn-lg btn-outline-primary btn-block text-left rounded-pill shadow-none ml-2" (click)="open(addPost)">Start a post</button>
</div>

<ng-template #addPost let-modal>
  <form [formGroup]="addPostForm" (ngSubmit)="onSubmit()" novalidate>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Create a post</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
        <div class="form-group">
          <input type="text" 
                class="form-control border-top-0 border-left-0 border-right-0 shadow-none rounded-0" 
                formControlName="title" 
                id="title" 
                placeholder="Title" 
                [class]="(title?.invalid && (title?.dirty || title?.touched)) ? 'is-invalid' : ''">
          <div *ngIf="title?.errors?.['required']" class="invalid-feedback">
            Please enter post title.
          </div>
        </div>
        <div class="form-group">
          <textarea class="form-control shadow-none" 
                  id="postContent" 
                  formControlName="content" 
                  placeholder="Content" 
                  rows="3"
                  [class]="(content?.invalid && (content?.dirty || content?.touched)) ? 'is-invalid' : ''"></textarea>
          <div *ngIf="content?.errors?.['required']" class="invalid-feedback">
            Please enter post content.
          </div>
        </div>
    </div>
    <div class="modal-footer">
      <button class="btn btn-primary rounded-pill w-100 mt-3" type="submit">Post</button>
    </div>
  </form>
</ng-template>