<div class="container py-5">
  <div class="d-flex flex-column align-items-center bg-light rounded">
    <a class="navbar-brand float-md-right d-flex justify-content-center" href="/">
      <img class="my-3" id="nms-logo" src="assets/icons/nullhire.png">
    </a>
    <h2>Privacy Notice</h2>
    <small>Effective from: March 1, 2023</small>
    <div class="p-3 my-3 rounded">
      <div>
        <div class="text-center font-weight-bold">1. Introduction</div>
        <br>

        <div class="d-flex">
          <span>1.1.&nbsp;</span>
          <p>
            As a data controller, PR Nullsoft, Nikola Pantelic (hereinafter: “Nullhire”,
            “company”, “we”, “us” or “our”) have created this Privacy and Data Policy
            (hereinafter: “Privacy Policy”) to make the processing of your data
            transparent and understandable.
          </p>
        </div>
        <div class="d-flex">
          <span>1.2.&nbsp;</span>
          <p>
            This Privacy Notice is only an abbreviated version of our Privacy Policy. All
            term, definitions and provisions are stipulated in accordance with our Privacy
            Policy. If you want to read complete text of our Privacy Policy, PDF copy can be found <a href="https://api.nullhire.com/files/privacy-policy.pdf">here.</a>
          </p>
        </div>
        <div class="d-flex">
          <span>1.3.&nbsp;</span>
          <p>
            Our Privacy Policy applies to:
            <br>
            &middot; all Visitors who access the website at <a href="https://nullhire.com">https://nullhire.com</a>,
            <br>
            &middot; all visitors that send us inquiries via the Website,
            <br>
            &middot; engage or register with Nullhire for services we provide as an Enterprise,
            <br>
            &middot; engage or register with Nullhire for services we provide as a Talent and
            use our platform in order to find employment with Enterprise.
            <br>
          </p>
        </div>
        <div class="d-flex">
          <span>1.4.&nbsp;</span>
          <p>
            Please read our Privacy Policy given that it applies when you use our Services
            and it constitutes an agreement that applies to you.
          </p>
        </div>
        <div class="d-flex">
          <span>1.5.&nbsp;</span>
          <p>
            For any questions regarding our Privacy Policy, please contact us at
            info@nullhire.com.
          </p>
        </div>
        <br>
        <div class="text-center font-weight-bold">2. Fundamental purpose of the Website</div>
        <br>
        <div class="d-flex">
          <span>2.1.&nbsp;</span>
          <p>
            Provision of information from Nullhire as online platform for professionals
            about the Services it offers. Talent and Enterprises use our Services to find
            and be found for business opportunities, to connect with others and find
            information.
          </p>
        </div>
        <div class="d-flex">
          <span>2.2.&nbsp;</span>
          <p>
            Our registered users share their professional identities, engage with their
            network, exchange knowledge and professional insights, post and view
            relevant content, and find business and career opportunities.
          </p>
        </div>
        <br>
        <div class="text-center font-weight-bold">3. Business objective</div>
        <br>

        <p>
          Our objective is to allow Talents to be found by Enterprises who are looking for
          experienced software developers. Furthermore, we aim to provide access to an
          extensive database of experienced developers, with a variety of features to help
          Enterprises to search for and ultimately hire the perfect Talent to meet their
          company's needs.
        </p>
        <br>


        <div class="text-center font-weight-bold">4. Data processing: purpose and legal basis</div>
        <br>

        <div class="d-flex">
          <span>4.1.&nbsp;</span>
          <p>
            The Data Controller may process personal data for certain legitimate
            business purposes, which includes some of all of the following:
          
            <br>
            &middot; where the process enables us to enhance, modify, personalize or
            otherwise improve our services/communications for the benefit of our
            users;
            <br>
            &middot; to identify and prevent fraud;
            &middot; to enhance security of our network and information systems;
            &middot; to better understand how people interact with our websites;
            &middot; to determine the effectiveness of promotional campaigns and
            advertising.
          </p>
        </div>

        <div class="d-flex">
          <span>4.2.&nbsp;</span>
          <p>
            Whenever we process data for these purposes we will ensure that we keep
            your rights in high regard and take account of these rights. You have the
            right to object to such processing, and may do so by contacting us as
            described below. Please bear in mind that if you exercise your right to object,
            this may affect our ability to carry out and deliver services to you for your
            benefit.
          </p>
        </div>
        <br>

        <div class="text-center font-weight-bold">5. Personal Data We Collect from You</div>
        <br>

        <div class="d-flex">
          <span>5.1.&nbsp;</span>
          <p>
            Registration – to create account you need to provide data including your
            name and surname, email address, and username and password.
          </p>
        </div>
        <div class="d-flex">
          <span>5.2.&nbsp;</span>
          <p>
            Talent Profile - you have a choice about information on your profile such as
            work experience (positions), skills, city or area and description of the projects
            you worked on (role on the project, technologies used and description of the
            project).
          </p>
        </div>
        <div class="d-flex">
          <span>5.3.&nbsp;</span>
          <p>
            Enterprise Profile – you have to include following information: name of the
            company, description of the Enterprise, description of job position, job
            location, salary range (if applicable), recruitment process, and other
            information provided by the Enterprise.
          </p>
        </div>
        <div class="d-flex">
          <span>5.4.&nbsp;</span>
          <p>
            Posting and uploading - We collect personal data from you when you
            provide, post or upload it to our website, such as when you set new
            requirements regarding the benefits or salary.
          </p>
        </div>
        <div class="d-flex">
          <span>5.5.&nbsp;</span>
          <p>
            Messages - We collect information about you when you send, receive, or
            engage with messages on our Website. For example, if you get a connection
            request, we track whether you have acted on it and will send you notifications.
            Furthermore, notifications are sent when a new request is sent, when the
            Talent rejects the request, when the Enterprise rejects the request, and when
            the Talent accepts the request. The notification is sent both in the application
            and via email from the address noreply@nullhire.com.
          </p>
        </div>
        <div class="d-flex">
          <span>5.6.&nbsp;</span>
          <p>
            Interact with posts - Both, Talents and Enterprises are able to respond to a
            post by liking or giving an award, and it is possible to do both.
          </p>
        </div>
        <div class="d-flex">
          <span>5.7.&nbsp;</span>
          <p>Other - Our Website is dynamic, and we may introduce new features, which
            may require the collection of new information. If we collect materially different
            personal data or materially change how we collect, use or share your data, we
            will notify you and may also modify our Privacy Policy.
          </p>
        </div>
        <br>


        <div class="text-center font-weight-bold">6. Personal Data We Collect Automatically</div>
        <br>

        <div class="d-flex">
          <span>6.1.&nbsp;</span>
          <p>
            When you visit our Website, we may collect certain personal information
            automatically from your device.
          </p>
        </div>
        <div class="d-flex">
          <span>6.2.&nbsp;</span>
          <p>
            Specifically, the information we collect automatically may include information
            like your IP address, device type, unique device identification number, browser
            type and broad geographic location (e.g., country or city-level location). We
            may also collect information about how your device has interacted with our
            Website, including the pages accessed and links clicked.
          </p>
        </div>
        <br>


        <div class="text-center font-weight-bold">7. How we use of Your Personal Data</div>
        <br>
        <div class="d-flex">
          <span>7.1.&nbsp;</span> 
          <p>
            The Company may use Personal Data for the following purposes:
            <br>
            &middot; To provide and maintain our Service,
            <br>
            &middot; To manage Your Account,
            <br>
            &middot; For the performance of a contract,
            <br>
            &middot; To contact You,
            <br>
            &middot; To provide You with news, special offers and general information about other
            goods, services and events which we offer that are similar to those that you
            have already purchased or enquired about unless You have opted not to
            receive such information.
            <br>
            &middot; To process payments,
            <br>
            &middot; To manage Your requests,
            <br>
            &middot; For other purposes.
            <br>
          </p>
        </div>
        <div class="d-flex">
          <span>7.2.&nbsp;</span>
          <p>
            More detailed description on how we use your personal data can be found in
            our Privacy Policy.
          </p>
        </div>
        <br>


        <div class="text-center font-weight-bold">8. Types of personal data recipients</div>
        <br>

        <div class="d-flex">
          <span>8.1.&nbsp;</span>
          <p>
            We are highly committed to protecting and respecting your personal data.
            Therefore, as a Talent your personal data will be shared only with the
            Enterprise you choose to share data with. We will not share nor disclose any of
            your personal data to any third parties.
          </p>
        </div>
        <div class="d-flex">
          <span>8.2.&nbsp;</span>
          <p>
            You don't have to post or upload personal data; though if you don't, it may
            limit your ability to grow and engage with your network over our Website.
          </p>
        </div>
        <br>

        <div class="text-center font-weight-bold">9. Data storage duration</div>
        <br>

        <p>
        We generally retain your personal data as long as you keep your account open or
        as needed to provide you Services. Even if you only use our Services when looking
        for a new job every few years, we will retain your information and keep your profile
        open, unless you close your account. Consequently, we delete your data as soon as
        it is no longer required for the afore-mentioned purposes, unless this conflicts with
        longer statutory storage obligations.
      </p>
        <br>

        <div class="text-center font-weight-bold">10. Rights of affected persons</div>
        <br>

        <div class="d-flex">
          <span>10.1.&nbsp;</span>
          <p>
            You can request information about your stored personal data and,
            furthermore, that it be corrected if incorrect or incomplete. Under certain
            circumstances, you can request the deletion of your data. Finally, you may
            have a right to limit the processing of your data and a right to have the data
            you provide surrendered in a structured, common and machine-readable
            format.
          </p>
        </div>
        <div class="d-flex">
          <span>10.2.&nbsp;</span>
          <p>
            You can request information about your stored personal data at any time. For
            further information, please contact us by e-mail at info@nullhire.com.
          </p>
        </div>
        <br>

        <div class="text-center font-weight-bold">11. Right of objection</div>
        <br>

        <p>
          While we will only process your data to protect legitimate interests, you have the
          right to object to such processing based on your own unique circumstances under
          Art. 21 para. 1 of the GDPR.
        </p>
        <br>

        <div class="text-center font-weight-bold">12. Right of appeal</div>
        <br>

        <div class="d-flex">
          <span>12.1.&nbsp;</span>
          <p>
            You can write to us at the above address by stipulating. You also have the
            option of contacting the Data Protection Supervisory Authority:
            Serbian Commissioner for Information of Public Importance and Protection of
            Personal Data (srb. Poverenik za informacije od javnog značaja i zaštitu podataka o ličnosti)
            <br>
            Bulevar kralja Aleksandra 15
            <br>
            Beograd 11120
            <br>
            Tel.: +38111 3408 900
            <br>
            E-Mail: office@poverenik.rs
          </p>
        </div>
        <div class="d-flex">
          <span>12.2.&nbsp;</span>
          <p>
            Alternatively, if you are located in the European Union, you may contact your
            local Data Protection Officer, as identified in the Privacy Notice on your local
            website.
          </p>
        </div>
        <br>


        <div class="text-center font-weight-bold">13. Data transfer to a third country</div>
        <br>

        <p>
          Nullhire is a Serbian-based company, therefore a company based outside of the
          European Economic Area (EEA). Nevertheless, we are dedicated to respecting all EU
          data protection regulations. Therefore, should we transfer data to other
          organizations and service providers outside of the European Economic Area (EEA),
          this will be conducted in accordance with GDPR.
        </p>
        <br>


        <div class="text-center font-weight-bold">14. Account Closure</div>
        <br>

        <div class="d-flex">
          <span>14.1.&nbsp;</span>
          <p>
            If you choose to close your Nullhire account, your personal data will generally
            stop being visible to others on our Website within 24 hours. We generally delete closed
            account information within 30 days of account closure, exceptas noted below.
          </p>
        </div>
        <div class="d-flex">
          <span>14.2.&nbsp;</span>
          <p>
            We retain your personal data even after you have closed your account if
            reasonably necessary to comply with our legal obligations (including law
            enforcement requests), meet regulatory requirements, resolve disputes,
            maintain security, prevent fraud and abuse. Furthermore, we will retain de-
            personalized information after your account has been closed.
          </p>
        </div>
        <div class="d-flex">
          <span>14.3.&nbsp;</span>
          <p>
            Information you have shared with others (e.g., updates, posts, likes) will
            remain visible after you close your account or delete the information from
            your own profile, and we do not control data that other Talents or Enterprises
            have copied out of our Website. Your profile may continue to be displayed in
            the services of others (e.g., search engine results) until they refresh their
            cache.
          </p>
        </div>
        <br>


        <div class="text-center font-weight-bold">15. Other legal information</div>
        <br>

        <div class="d-flex">
          <span>15.1.&nbsp;</span>
          <p>
            We implement security safeguards designed to protect your data. We
            regularly monitor our systems for possible vulnerabilities and attacks.
            However, we cannot warrant the security of any information that you send
            us. There is no guarantee that data may not be accessed, disclosed, altered,
            or destroyed by breach of any of our physical, technical, or managerial
            safeguards.
          </p>
        </div>
        <div class="d-flex">
          <span>15.2.&nbsp;</span>
          <p>
            We process data both inside and outside of the European Union and rely on
            legally-provided mechanisms to lawfully transfer data across borders.
            Countries where we process data may have laws which are different from,
            and potentially not as protective as, the laws of your own country.
          </p>
        </div>
        <div class="d-flex">
          <span>15.3.&nbsp;</span>
          <p>
            We will only collect and process personal data about you where we have
            lawful bases. Lawful bases include consent (where you have given consent),
            contract (where processing is necessary for the performance of a contract
            with you) and “legitimate interests.”
          </p>
        </div>
        <div class="d-flex">
          <span>15.4.&nbsp;</span>
          <p>
            Where we rely on your consent to process personal data, you have the right
            to withdraw or decline your consent at any time and where we rely on
            legitimate interests, you have the right to object.
          </p>
        </div>
        <br>


        <div class="text-center font-weight-bold">16. Children's Privacy</div>
        <br>

        <div class="d-flex">
          <span>16.1.&nbsp;</span>
          <p>
            Our Service does not address anyone under the age of 14. We do not
            knowingly collect personally identifiable information from anyone under the
            age of 14. If You are a parent or guardian and You are aware that Your child
            has provided Us with Personal Data, please contact Us. If We become aware
            that We have collected Personal Data from anyone under the age of 14
            without verification of parental consent, we take steps to remove that
            information from Our servers.
          </p>
        </div>
        <div class="d-flex">
          <span>16.2.&nbsp;</span>
          <p>
            If We need to rely on consent as a legal basis for processing Your information
            and Your country requires consent from a parent, we may require Your
            parent's consent before We collect and use that information.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
