<nav ngbNav #nav="ngbNav" class="navbar fixed-top navbar-light bg-white d-flex justify-content-center">
  <a class="navbar-brand d-none d-md-block" href="#">
    <img src="../../../assets/icons/nullhire.svg" alt="" class="d-inline-block nullhire-logo">
  </a>
  <div class="mr-2 col-lg-4 col-md-5 col-sm-7 search-input">
    <div class="input-group">
        <input id="typeahead-template"
              type="text"
              class="form-control col"
              [(ngModel)]="companyStartsWith"
              [ngbTypeahead]="search"
              [resultTemplate]="rt"
              [inputFormatter]="formatter" 
              type="text" class="form-control" 
              placeholder="Find companies">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" type="button"><bi name="search" class="icon"></bi></button>
      </div>
    </div>
  </div>
  <div class="dropdown show d-lg-none">
    <a class="text-primary text-decoration-none mr-2 d-flex flex-column align-items-center" id="dropdown-menu" role="button" data-toggle="dropdown" aria-haspopup="true">
      <bi name="list" class="menu-icon lead"></bi>
    </a>
    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdown-menu">
      <a class="dropdown-item btn-outline-primary" role="button" (click)="onLogout()">Sign out</a>
    </div>
  </div>
  <div class="d-none d-lg-flex">
    <a routerLink="/talent" [routerLinkActiveOptions]="{exact: true}" routerLinkActive="nms-active" class="text-secondary text-decoration-none mr-2 d-flex flex-column align-items-center">
      <bi name="house-door-fill" class="icon lead"></bi>
      <small>Home</small>
    </a>
    <a [routerLink]="['messages']" [routerLinkActiveOptions]="{exact: true}" (click)="setMessagesToSeen()" routerLinkActive="nms-active" class="text-secondary text-decoration-none mr-2 d-flex flex-column align-items-center">
      <bi name="envelope-fill" class="icon lead"></bi>
      <small>Messages</small>
      <span *ngIf="notificationStatus && notificationStatus.unseenMessages > 0" class="nms-notification position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger ml-4">
        {{notificationStatus.unseenMessages}}
      </span>
    </a>
    <a [routerLink]="['requests']" [routerLinkActiveOptions]="{exact: true}" (click)="setRequestsToSeen()" routerLinkActive="nms-active" class="text-secondary text-decoration-none mr-2 d-flex flex-column align-items-center">
      <bi name="person-bounding-box" class="icon lead"></bi>
      <small>Requests</small>
      <span *ngIf="notificationStatus && notificationStatus.unseenRequests > 0" class="nms-notification position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger ml-4">
        {{notificationStatus.unseenRequests}}
      </span>
    </a>
    <a [routerLink]="['notifications']" [routerLinkActiveOptions]="{exact: true}" (click)="setInfoNotificationsToSeen()" routerLinkActive="nms-active" class="text-secondary text-decoration-none mr-2 d-flex flex-column align-items-center">
      <bi name="bell-fill" class="icon lead">
      </bi>
      <small>Notifications</small>
      <span *ngIf="notificationStatus && notificationStatus.unseenInfoNotifications > 0" class="nms-notification position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger ml-4">
        {{notificationStatus.unseenInfoNotifications}}
      </span>
    </a>
    <a [routerLink]="['profile']" [routerLinkActiveOptions]="{exact: true}" routerLinkActive="nms-active" class="text-secondary text-decoration-none mr-2 d-flex flex-column align-items-center">
      <bi name="person-circle" class="icon lead"></bi>
      <small>My profile</small>
    </a>
    <a class="btn btn-outline-primary rounded-pill shadow-none ml-2" (click)="onLogout()">Sign Out</a>
  </div>
</nav>
<div class="d-lg-none fixed-bottom bg-light d-flex justify-content-center py-1">
  <a routerLink="/talent" [routerLinkActiveOptions]="{exact: true}" routerLinkActive="nms-active" class="text-secondary text-decoration-none mr-2 d-flex flex-column align-items-center">
    <bi name="house-door-fill" class="icon lead"></bi>
    <small>Home</small>
  </a>
  <a [routerLink]="['messages']" [routerLinkActiveOptions]="{exact: true}" (click)="setMessagesToSeen()" routerLinkActive="nms-active" class="text-secondary text-decoration-none mr-2 d-flex flex-column align-items-center">
    <bi name="envelope-fill" class="icon lead"></bi>
    <small>Messages</small>
    <span *ngIf="notificationStatus && notificationStatus.unseenMessages > 0" class="nms-notification position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger ml-4">
      {{notificationStatus.unseenMessages}}
    </span>
  </a>
  <a [routerLink]="['requests']" [routerLinkActiveOptions]="{exact: true}" (click)="setRequestsToSeen()" routerLinkActive="nms-active" class="text-secondary text-decoration-none mr-2 d-flex flex-column align-items-center">
    <bi name="person-bounding-box" class="icon lead"></bi>
    <small>Requests</small>
    <span *ngIf="notificationStatus && notificationStatus.unseenRequests > 0" class="nms-notification position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger ml-4">
      {{notificationStatus.unseenRequests}}
    </span>
  </a>
  <a [routerLink]="['notifications']" [routerLinkActiveOptions]="{exact: true}" (click)="setInfoNotificationsToSeen()" routerLinkActive="nms-active" class="text-secondary text-decoration-none mr-2 d-flex flex-column align-items-center">
    <bi name="bell-fill" class="icon lead">
    </bi>
    <small>Notifications</small>
    <span *ngIf="notificationStatus && notificationStatus.unseenInfoNotifications > 0" class="nms-notification position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger ml-4">
      {{notificationStatus.unseenInfoNotifications}}
    </span>
  </a>
  <a [routerLink]="['profile']" [routerLinkActiveOptions]="{exact: true}" routerLinkActive="nms-active" class="text-secondary text-decoration-none mr-2 d-flex flex-column align-items-center">
    <bi name="person-circle" class="icon lead"></bi>
    <small>My profile</small>
  </a>
</div>

<ng-template #rt let-r="result" let-t="term">
  <div (click)="openCompanyProfile(r.id)">
      <img [src]="'https://pbs.twimg.com/profile_images/1374273767124439041/TxI-hVAa_400x400.png'" 
      class="mr-2 rounded-circle" 
      style="width: 2em" />
    <ngb-highlight [result]="r.name" [term]="t"></ngb-highlight>
  </div>
</ng-template>