<form [formGroup]="editBenefitsForm" (ngSubmit)="edit(benefitsFormArray.value)" novalidate>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Edit Benefits</h4>
    <button type="button" class="close" aria-label="Close" (click)="close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body p-4">
    <div formArrayName="benefitsFormArray">
      <div class="mb-5" [formGroupName]="i" *ngFor="let benefit of benefitsFormArray.controls; let i=index">
        <div class="d-flex justify-content-between">
          <h5>Benefit {{i + 1}}</h5>
          <a class="ml-2 text-secondary text-decoration-none nms-cursor" (click)="removeBenefit(i)">
            <bi name="trash" class="nms-remove-icon"></bi>
          </a>
        </div>
        <div class="form-group">
          <div class="">
            <div class="form-group mb-0">
              <small class="text-secondary">Name</small>
              <input type="text" 
                    class="form-control shadow-none rounded-0" 
                    [id]="'name' + i"
                    formControlName="name" 
                    placeholder="Name" 
                    [class]="(benefitsFormArray.controls[i].get('name')?.invalid && (benefitsFormArray.controls[i].get('name')?.dirty || benefitsFormArray.controls[i].get('name')?.touched)) ? 'is-invalid' : ''" />
              <div *ngIf="benefitsFormArray.controls[i].get('name')?.errors?.['required']" class="invalid-feedback">
                Please eneter benefit name!
              </div>
            </div>
            <div class="form-group">
              <small class="text-secondary">Description</small>
              <textarea type="text" 
                    class="form-control shadow-none rounded-0" 
                    formControlName="description" 
                    placeholder="Description" 
                    [class]="(benefitsFormArray.controls[i].get('description')?.invalid && (benefitsFormArray.controls[i].get('description')?.dirty || benefitsFormArray.controls[i].get('description')?.touched)) ? 'is-invalid' : ''"></textarea>
              <div *ngIf="benefitsFormArray.controls[i].get('description')?.errors?.['required']" class="invalid-feedback">
                Please eneter benefit description!
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="d-flex justify-content-center text-end mb-5">
      <div class="btn btn-outline-primary btn-block rounded-pill shadow-none w-50" (click)="addNewBenefitForm()">Add benefit</div>
    </div>
  </div>
  <div class="modal-footer d-flex justify-content-center text-end">
    <button class="btn btn-primary rounded-pill mt-3 w-50" [disabled]="editBenefitsForm.invalid" type="submit">Save</button>
  </div>
</form>