@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";

.nms-icon {
  height: 1.2em;
}

.nms-circle {
  height: 2em;
}

.nms-circle:hover {
  color: $cyan;
}

.nms-cursor:hover {
  cursor: pointer;
}

.nms-remove-icon {
  height: 1.8em;
}

.nms-remove-icon:hover {
  color: $red;
}