<form [formGroup]="sendRequestForm" (ngSubmit)="sendRequest()" novalidate>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Send request</h4>
    <button type="button" class="close" aria-label="Close" (click)="close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="form-group">
      <input type="text" 
            class="form-control" 
            formControlName="note" 
            id="note" 
            placeholder="Request note" 
            [class]="(note?.invalid && (note?.dirty || note?.touched)) ? 'is-invalid' : ''"/>
      <div *ngIf="note?.errors?.['required']" class="invalid-feedback">
        Please request note.
      </div>
    </div>
    <div class="m-0">
      Non-negotiable terms (you will need to accept all these terms if you want to send request to talent)
    </div>
    <div formArrayName="nonNegotiableTermsForm">
      <div [formGroupName]="i" class="font-weight-light text-secondary m-0 text-date" *ngFor="let term of nonNegotiableTermsForm.controls; let i=index">
        <div class="form-check">
          <input class="form-check-input" 
            type="checkbox" 
            formControlName="status" 
            [id]="'nonNegotiableTerm' + i"
            (change)="checkNonNegotiableTerms()" 
            value="'ACCEPTED'">
          <label class="form-check-label" [for]="'nonNegotiableTerm' + i">{{nonNegotiableTerms[i].term.name}} {{nonNegotiableTerms[i].term.type != 'BOOLEAN' ? nonNegotiableTerms[i].value : ''}} {{nonNegotiableTerms[i].unitOfMeasure}}</label>
        </div>
      </div>
    </div>
    <div class="m-0">
      Negotiable terms
    </div>
    <div formArrayName="negotiableTermsForm">
      <div [formGroupName]="i" class="font-weight-light text-secondary m-0 text-date d-flex justify-content-between" *ngFor="let term of negotiableTermsForm.controls; let i=index">
        <div class="form-check form-check-inline">
          <span class="form-check-label" for="inlineRadio1">{{negotiableTerms[i].term.name}} {{negotiableTerms[i].term.type != 'BOOLEAN' ? negotiableTerms[i].value : ''}} {{negotiableTerms[i].unitOfMeasure}}</span>
        </div>
        <div>
          <div *ngIf="term.value.status === 'COUNTER_OFFER_COMPANY'" class="form-check form-check-inline">
            <input class="form-control" 
              type="text" 
              formControlName="counterOffer"
              placeholder="Counter offer" 
              [id]="'counterOffer' + i">
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" formControlName="status" type="radio" (change)="removeCounterOffer(i)" [id]="'radioAccept' + i" value="ACCEPTED">
            <label class="form-check-label" [for]="'radioAccept' + i">Accept</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" formControlName="status" type="radio" (change)="removeCounterOffer(i)" [id]="'radioReject' + i" value="REJECTED">
            <label class="form-check-label" [for]="'radioReject' + i">Reject</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" formControlName="status" type="radio" (change)="addCounterOffer(i)" [id]="'radioCounterOffer' + i" value="COUNTER_OFFER_COMPANY">
            <label class="form-check-label" [for]="'radioCounterOffer' + i">Send counter-offer</label>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary rounded-pill w-100 mt-3" type="submit" [disabled]="(nonNegotiableTerms.length > 0 && !nonNegotiablesAreChecked) || sendRequestForm.invalid">Send</button>
  </div>
</form>