/* You can add global styles to this file, and also import other style files */

@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";

$theme-colors: (
  'primary': $cyan,
  'secondary': $gray-600
);

$container-max-widths: (
        sm: 540px,
        md: 720px,
        lg: 960px,
        xl: 960px,
        xxl: 960px
);

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

@font-face {
  font-family: Roboto;
  src: url(assets/fonts/Roboto-Regular.ttf) format("opentype");
}

@font-face {
  font-family: Roboto;
  src: url(assets/fonts/Roboto-Italic.ttf) format("opentype");
  font-style: italic;
}

@font-face {
  font-family: Roboto;
  src: url(assets/fonts/Roboto-Bold.ttf) format("opentype");
  font-weight: bold;
}

@font-face {
  font-family: Roboto;
  src: url(assets/fonts/Roboto-BoldItalic.ttf) format("opentype");
  font-weight: bold;
  font-style: italic;
}

* {
  font-family: -apple-system, BlinkMacSystemFont, Roboto, sans-serif !important; 
}
