.posts-selector {
  border-radius: 0px;
  border: none;
}

.post-type {
  padding-left: 0px;
  padding-right: 0px;
}

.nms-row {
  margin-right: 0px;
  margin-left: 0px;
  background-color: white;
}

.nms-hr {
  background-color: white;
}

.border-bottom-thick {
  border-bottom-width: 2px !important;
}
