<div class="container mb-5" *ngIf="company">
  <div class="row">
    <div class="col-lg-4 col-md-5 d-md-block d-none">
      <nms-home-profile 
        [company]="company"
        [remainingPosts]="remainingPosts" 
        (remainingPostsChange)="setRemainingPosts($event)"></nms-home-profile>
    </div>
    <div class="col-lg-8 col-md-7">
      <a class="btn btn-outline-primary w-30 mr-2 posts-selector" 
        (click)="setPostsType(postsType.GLOBAL);getGlobalPosts(0);"
        [ngClass]="selectedPostsType === 'GLOBAL' ? 'btn-outline-primary' : 'btn-outline-secondary'">Global posts</a>
      <a class="btn w-30 mr-2 posts-selector" 
        (click)="setPostsType(postsType.COMPANY);getMyPosts(0);"
        [ngClass]="selectedPostsType === 'COMPANY' ? 'btn-outline-primary' : 'btn-outline-secondary'">My posts</a>
      <a class="btn w-30 mr-2 posts-selector" 
        (click)="getFollowingCompaniesPosts(0);setPostsType(postsType.FOLLOWING)"
        [ngClass]="selectedPostsType === 'FOLLOWING' ? 'btn-outline-primary' : 'btn-outline-secondary'">Following posts</a>
      <a class="btn btn-outline-primary w-30 mr-2 posts-selector" 
      (click)="setPostsType(postsType.COUNTRY)"
        [ngClass]="selectedPostsType === 'COUNTRY' ? 'btn-outline-primary' : 'btn-outline-secondary'">Specific country posts</a>
      <select *ngIf="selectedPostsType === 'COUNTRY'" (change)="selectCountry($event)" class="form-control form-control-sm" id="company-country">
        <option [value]="undefined">Select country</option>
        <option *ngFor="let country of countries" [value]="country.id">{{country.name}}</option>
      </select>
      <hr/>
      <nms-add-post (postAddedChange)="decreaseRemainingPosts();postAdded($event)"></nms-add-post>
      <nms-company-feed 
        [posts]="posts" 
        [isLastPage]="isLastPage" 
        (scrollChange)="getNextPosts()"
        [likedPosts]="company.likedPosts" 
        [loggedCompanyId]="company.id"></nms-company-feed>
      <spinner *ngIf="showSpinnerPosts"></spinner>
    </div>
  </div>
</div>