<nms-nav></nms-nav>
<div id="welcome" class="jumbotron jumbotron-fluid carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="container">
        <h1 class="display-4 text-primary d-flex align-items-center">
          <img src="../../../assets/icons/nullhire.svg" alt="" class="nullhire-logo">
          Nullhire
          <h4 class="text-secondary align-self-end">&nbsp;for companies</h4>
        </h1>
        <p class="lead">We understand that finding the right developer for your project can be a challenge. That's why this platform is designed to help you find the perfect fit for your needs. We provide access to a database of experienced developers, with a variety of features to help you search for and hire the perfect talent for your company.</p>
        <hr class="my-4">
        <p>We're here to help you make the most of your search for talent, so let's get started!</p>
        <p class="lead">
          <a class="btn btn-primary rounded-pill btn-lg" routerLink="/register" role="button">Join now</a>
        </p>
      </div>
    </div>
    <div class="carousel-item">
      <div class="container">
        <h1 class="display-4 text-primary d-flex align-items-center">
          <img src="../../../assets/icons/nullhire.svg" alt="" class="nullhire-logo">
          Nullhire
          <h4 class="text-primary align-self-end">&nbsp;for talents</h4>
        </h1>
        <p class="lead">Are you looking to get connected with potential employers? Our platform is the perfect place to start. You can easily register yourself into our database, allowing you to be found by companies who are looking for experienced software developers. You can customize your profile with all your skills and experience, and even set your own terms.</p>
        <hr class="my-4">
        <p>Take the next step in your career and get connected with employers today. Join now and start your journey to success!</p>
        <p class="lead">
          <a class="btn btn-primary rounded-pill btn-lg" routerLink="/register" role="button">Join now</a>
        </p>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#welcome" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#welcome" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
<router-outlet></router-outlet>
