<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">Upload company profile image</h4>
  <button type="button" class="close" aria-label="Close" (click)="close()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="container d-flex justify-content-center flex-column">
    <div class="d-flex justify-content-center">
      <input style="display: none !important;" type="file" accept="image/*" (change)="fileChangeEvent($event)" #file>
      <button class="btn btn-primary rounded-pill w-50" (click)="file.click()">Upload file</button>
    </div>
    <image-cropper   
                [imageChangedEvent]="imageChangedEvent"   
                [maintainAspectRatio]="true"   
                [aspectRatio]="4 / 4"  
                [resizeToWidth]="256"   
                format="png"   
                (imageCropped)="imageCropped($event)"   
                (imageLoaded)="imageLoaded()"  
                (cropperReady)="cropperReady()"   
                (loadImageFailed)="loadImageFailed()">
    </image-cropper>
  </div>
</div>
<div class="modal-footer d-flex justify-content-center">
  <a class="btn btn-primary rounded-pill w-50 mt-3" (click)="upload()">Save</a>
</div>
<spinner *ngIf="showSpinner"></spinner>